<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.regular.mapper.RegularMapper">

	<sql id="regularColumns">
		regseq, ctmno, conum, regstartd, regendd, regcompany,
		regaddress, regperson, regphone, regcontract, regnum, regmoney,
		regmemo, regtrash
	</sql>

	<select id="selctRegular"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">
		SELECT

		*

		FROM

		regular

		<where>
			<if test="regcompany != null">OR regcompany Like CONCAT('%',#{regcompany},'%') </if>
		</where>
	</select>

	<select id="selctRegularInfo"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">
		SELECT

		*

		FROM

		regular

		LEFT JOIN

		customer

		ON

		regular.ctmno =
		customer.ctmno

		WHERE

		conum = #{conum}
	</select>

	<select id="selectRegulardetail"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		rdseq, conum, codenum, rdname, rdbus, rdgonum,
		rdoutnum, opercar, rdmoney, rdaltm, rddow, rdmemo, rdtrash, rdconn,
		rdnum,

		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE
		employeeinfo.id
		=
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idname,

		IFNULL((SELECT
		employeeinfo.phone1 FROM
		employeeinfo WHERE
		employeeinfo.id =
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idphone1,

		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar),
		regulardetail.opercar) AS
		idvehicle

		FROM

		regulardetail

		WHERE

		conum = #{conum}

		ORDER BY rdnum

	</select>

	<select id="selectRegulardetailInfo"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		rdseq, conum, codenum, rdname, rdbus, rdgonum,
		rdoutnum, opercar, rdmoney, rdaltm, rddow, rdmemo, rdtrash, rdconn,
		rdnum,

		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE
		employeeinfo.id
		=
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idname,

		IFNULL((SELECT
		employeeinfo.phone1 FROM
		employeeinfo WHERE
		employeeinfo.id =
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idphone1,

		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar),
		regulardetail.opercar) AS
		idvehicle

		FROM

		regulardetail

		WHERE

		codenum = #{codenum}

		ORDER BY rdnum

	</select>

	<select id="selectRegularcourse"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		*

		FROM

		regularcourse

		WHERE

		codenum = #{codenum}

		ORDER BY
		rct
	</select>

	<insert id="insertRegular"
		parameterType="com.garam.web.regular.dto.RegularDTO">

		INSERT

		INTO

		regular

		VALUES

		(
		null,
		#{ctmno},
		#{conum},
		#{regstartd},
		#{regendd},
		#{regcompany},
		#{regaddress},
		#{regperson},
		#{regphone},
		#{regcontract},
		#{regnum},
		#{regmoney},
		#{regmemo},
		1
		)

	</insert>

	<insert id="insertRegulardetail"
		parameterType="com.garam.web.regular.dto.RegularDTO">

		INSERT

		INTO

		regulardetail

		VALUES

		(
		null,
		#{conum},
		#{codenum},
		100,
		null,
		null,
		null,
		null,
		null,
		null,
		null,
		null,
		null,
		null,
		1
		)
	</insert>

	<update id="updateRegulardetail"
		parameterType="com.garam.web.regular.dto.RegularDTO">

		UPDATE

		regulardetail

		SET

		<if test="rdnum != null and rdnum != '' ">rdnum = #{rdnum},</if>
		<if test="rdname != null and rdname != '' ">rdname = #{rdname},</if>
		<if test="rdbus != null and rdbus != '' ">rdbus = #{rdbus},</if>
		<if test="rdgonum != null">rdgonum = #{rdgonum},</if>
		<if test="rdoutnum != null">rdoutnum = #{rdoutnum},</if>
		<if test="rdconn != null and rdconn != '' ">rdconn = #{rdconn},</if>
		<if test="rdmoney != null">rdmoney = #{rdmoney},</if>
		<if test="rdaltm != null">rdaltm = #{rdaltm},</if>
		<if test="rddow != null and rddow != '' ">rddow = #{rddow},</if>
		<if test="rdmemo != null and rdmemo != '' ">rdmemo = #{rdmemo},</if>
		<if test="opercar != null and opercar != '' ">opercar = #{opercar},</if>
		rdtrash = #{rdtrash}

		WHERE

		codenum = #{codenum}

	</update>

	<update id="updateRegulardetailOder"
		parameterType="java.util.HashMap">
		<foreach collection="rde" item="value" index="index"
			separator=";">
			UPDATE

			regulardetail

			SET

			rdnum = #{value.rdnum}

			WHERE

			codenum =
			#{value.codenum}
		</foreach>
	</update>

	<delete id="delRegulardetail"
		parameterType="com.garam.web.regular.dto.RegularDTO">

		DELETE

		FROM

		regulardetail

		WHERE

		codenum = #{codenum}

	</delete>
</mapper>

