<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.regular.mapper.RegularMapper">

	<sql id="regularColumns">
		regseq, ctmno, conum, regstartd, regendd, regcompany,
		regaddress, regperson, regphone, regcontract, regnum, regmoney,
		regmemo, regtrash
	</sql>

	<select id="selctRegular"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">
		SELECT

		*

		FROM

		regular

		<where>
			<if test="regcompany != null">OR regcompany Like CONCAT('%',#{regcompany},'%') </if>
		</where>
	</select>

	<select id="selctRegularInfo"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">
		SELECT

		*

		FROM

		regular

		LEFT JOIN

		customer

		ON

		regular.ctmno =
		customer.ctmno

		WHERE

		conum = #{conum}
	</select>

	<select id="selectRegulardetail"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		rdseq, conum, codenum, rdname, rdbus, rdgonum,
		rdoutnum, opercar, rdmoney, rdaltm, rddow, rdmemo, rdtrash, rdconn,

		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE employeeinfo.id
		=
		(SELECT id FROM vehicleinfo WHERE vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar) AS idname,

		IFNULL((SELECT
		employeeinfo.phone1 FROM
		employeeinfo WHERE
		employeeinfo.id =
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idphone1,

		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar),
		regulardetail.opercar) AS
		idvehicle

		FROM

		regulardetail

		WHERE

		conum = #{conum};

	</select>

	<select id="selectRegulardetailInfo"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		rdseq, conum, codenum, rdname, rdbus, rdgonum,
		rdoutnum, opercar, rdmoney, rdaltm, rddow, rdmemo, rdtrash, rdconn,

		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE employeeinfo.id
		=
		(SELECT id FROM vehicleinfo WHERE vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar) AS idname,

		IFNULL((SELECT
		employeeinfo.phone1 FROM
		employeeinfo WHERE
		employeeinfo.id =
		(SELECT id FROM vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar)),
		regulardetail.opercar)
		AS idphone1,

		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		regulardetail.opercar),
		regulardetail.opercar) AS
		idvehicle

		FROM

		regulardetail

		WHERE

		codenum = #{codenum};

	</select>

	<select id="selectRegularcourse"
		parameterType="com.garam.web.regular.dto.RegularDTO"
		resultType="com.garam.web.regular.dto.RegularDTO">

		SELECT

		*

		FROM

		regularcourse

		WHERE

		codenum = #{codenum}

		ORDER BY
		rct
	</select>

	<insert id="insertRegular"
		parameterType="com.garam.web.regular.dto.RegularDTO">

		INSERT

		INTO

		regular

		VALUES

		(
		null,
		#{ctmno},
		#{conum},
		#{regstartd},
		#{regendd},
		#{regcompany},
		#{regaddress},
		#{regperson},
		#{regphone},
		#{regcontract},
		#{regnum},
		#{regmoney},
		#{regmemo},
		1
		)

	</insert>

</mapper>

