<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="main-head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>관리자 설정</title>

        <link rel="stylesheet" href="/css/boot/bootstrap.css">
        <link rel="stylesheet" href="/css/boot/all.css">
        <link
            rel="stylesheet"
            href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
        <link
            th:if="${user.color == 0}"
            rel="stylesheet"
            href="/css/optCss/optCss0.css">
        <link
            th:if="${user.color == 1}"
            rel="stylesheet"
            href="/css/optCss/optCss1.css">
        <link
            th:if="${user.color == 10}"
            rel="stylesheet"
            href="/css/optCss/optCss10.css">
        <link
            th:if="${user.color == 11}"
            rel="stylesheet"
            href="/css/optCss/optCss11.css">
        <link
            th:if="${user.color == 12}"
            rel="stylesheet"
            href="/css/optCss/optCss12.css">
        <link
            th:if="${user.color == 13}"
            rel="stylesheet"
            href="/css/optCss/optCss13.css">
        <link
            th:if="${user.color == 14}"
            rel="stylesheet"
            href="/css/optCss/optCss14.css">
        <link
            th:if="${user.color == 15}"
            rel="stylesheet"
            href="/css/optCss/optCss15.css">
        <link
            th:if="${user.color == 16}"
            rel="stylesheet"
            href="/css/optCss/optCss16.css">
        <link
            th:if="${user.color == 17}"
            rel="stylesheet"
            href="/css/optCss/optCss17.css">
        <link
            th:if="${user.color == 18}"
            rel="stylesheet"
            href="/css/optCss/optCss18.css">
        <link
            th:if="${user.color == 19}"
            rel="stylesheet"
            href="/css/optCss/optCss19.css">
        <link
            th:if="${user.color == 20}"
            rel="stylesheet"
            href="/css/optCss/optCss20.css">
        <link rel="stylesheet" href="/css/common/boot_Custom.css">
        <link rel="stylesheet" href="/css/common/cal.css">
        <link rel="stylesheet" href="/css/common/styles.css">
        <link rel="stylesheet" href="/css/common/btn.css">
        <link rel="stylesheet" href="/css/adminCss/admin.css">
    </head>
    <body>
        <aside>
            <div class="side-item">
                <p class="">사용자 등록/수정</p>
            </div>
        </aside>

        <main>
            <div>
                <form id="signUpForm" th:action="@{/admin/signup}" method="post">
                    <div class="row mb-3">
                        <label for="id" class="col-sm-1 col-form-label">아이디</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="id" name="id" required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="pw" class="col-sm-1 col-form-label">비밀번호</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="pw" name="pw" required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="company" class="col-sm-1 col-form-label">소속</label>
                        <div class="col-sm-3">
                            <select class="form-select" id="company" name="company" required="required">
                                <option
                                    th:each="company : ${compa}"
                                    th:value="${company.company}"
                                    th:label="${company.company}"
                                    th:data-value="${company.company}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="name" class="col-sm-1 col-form-label">이름</label>
                        <div class="col-sm-3">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="position" class="col-sm-1 col-form-label">직급</label>
                        <div class="col-sm-3">
                            <input
                                type="text"
                                class="form-control"
                                id="position"
                                name="position"
                                required="required">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="power" class="col-sm-1 col-form-label">권한</label>
                        <div class="col-sm-3">
                            <select class="form-select" id="power" name="power" required="required">
                                <option value="ADMIN" label="관리자"></option>
                                <option value="MANAGER" label="실무자"></option>
                                <option value="EMP" label="사무실"></option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="color" name="color" value="1">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>

            </div>

        </main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbuser =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCutomer =/*[[${customer}]]*/
            'default';
            /*]]>*/
        </script>

        <script
            language="javascript"
            type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/boot/bootstrap.bundle.js"></script>
        <script language="javascript" type="text/javascript" src="/js/boot/all.js"></script>
        <script language="javascript" type="text/javascript" src="/js/common/common.js"></script>
    </body>

</html>