<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <header class="header">
            <div class="logo">
                <span class="detail-user-1" th:text="${user.company}"></span>
            </div>
            <div class="hd-search">
                <div class="he-serach-group">
                    <form action="">
                        <div class="hd-search-icon fas fa-search"></div>
                        <input type="text" placeholder="검색">
                    </form>
                </div>
            </div>
            <div class="hd-user">
                <div id="detail-user">
                    <span class="detail-user-1">
                        <i class="fa-solid fa-user-large"></i>
                    </span>
                    <span class="detail-user-2" th:text="${user.position}"></span>
                    <span class="detail-user-3" th:text="${user.name}"></span></div>
                <div class="fas fa-bars" id="menu-btn"></div>
            </div>
            <div class="deail-form card-song">
                <a class="deail-form-item">
                    <i class="fa-solid fa-user-pen"></i>
                    &nbsp;내정보
                </a>
                <a class="deail-form-item">
                    <i class="fa-solid fa-gear"></i>&nbsp;설정</a>
                <a
                    sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')"
                    class="deail-form-item">
                    <i class="fa-solid fa-chart-line"></i>&nbsp;관리자</a>
                <a sec:authorize="isAuthenticated()" class="deail-form-item">
                    <i class="fa-solid fa-right-from-bracket"></i>&nbsp;로그아웃</a>
            </div>
        </header>
        <aside class="aside">
            <div class="ad-cal">
                <input type="hidden" id="today">
                <div class="ad-cal-cals">
                    <div class="ad-cal-items ad-cal-items-1 card-song" id="calendar">
                        <div class="dash-cal">
                            <div class="dash-cal-h">
                                <div class="">
                                    <a class="btn" id="fnDownMonth">
                                        <i class="fas fa-chevron-left fa-lg"></i>
                                    </a>
                                </div>
                                <div class="dash-cal-h-item dash-cal-h-item2" id="">
                                    <strong><input type="month" id="yearMonth" value=""></strong>
                                </div>
                                <div class="">
                                    <a class="btn" id="fnUpMonth">
                                        <i class="fas fa-chevron-right fa-lg"></i>
                                    </a>
                                </div>
                                <div class="dash-cal-h-item dash-cal-h-item4">
                                    <!-- <button type="button" class="btn btn-primary btn-xs" id="btnYesD"
                                    control-id="ControlID-1">어제</button> -->
                                    <button type="button" class="btn btn-secondary btn-xs" id="btnToD">오늘</button>
                                    <button type="button" class="btn btn-secondary btn-xs" id="btnTomD">내일</button>
                                </div>
                            </div>
                            <div class="dash-cal-con" id="dash-cal-contents"></div>
                        </div>
                    </div>
                    <div class="ad-cal-items ad-cal-items-2 card-song">
                        <blockquote>
                            <p id="bigDay">&nbsp;</p>
                            <footer>
                                <cite title="Source Title" id="cal1">&nbsp;</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="ad-cal-items ad-cal-items-4 card-song">
                        <blockquote id="midday"></blockquote>
                    </div>
                </div>
                <div class="ad-cal-comp"></div>
            </div>
        </aside>
        <main class="main">
            <div class="tab-pane" role="tabpanel">
                <div class="dd-main-nav">
                    <div class="card-song dash-cal-d" id="dash-phone">
                        <div class="dash-cal-d-item">
                            <a class="btn" id="fnDownDay">
                                <i class="fas fa-chevron-left fa-lg"></i>
                            </a>
                        </div>
                        <div class="dash-cal-d-item dash-cal-d-item2" id="">
                            <strong><input type="date" id="yearMonthDay" value="2021-06-01"></strong>
                        </div>
                        <div class="dash-cal-d-item">
                            <a class="btn" id="fnUpDay">
                                <i class="fas fa-chevron-right fa-lg"></i>
                            </a>
                        </div>
                        <div class="dash-cal-d-item dash-cal-d-item4">
                            <!-- <button type="button" class="btn btn-primary btn-xs" id="btnYesD"
                            control-id="ControlID-1">어제</button> -->
                            <button type="button" class="btn btn-secondary btn-xs" id="btnToD">오늘</button>
                            <button type="button" class="btn btn-secondary btn-xs" id="btnTomD">내일</button>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <div>
                        <ul class="nav nav-pills nav-justified dd-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active"
                                    id="pills-home-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#home"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-home"
                                    aria-selected="true">home</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="pills-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#rsvt"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">운행예약</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="pills-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#allo"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">
                                    예약관리<span class="badge bg-secondary" id="bdggg"></span>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="pills-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#manage"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-profile"
                                    aria-selected="false">예약관리</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content tab-cont">
                    <div
                        th:insert="dashboard/mainHome :: main-home"
                        class="tab-pane fade show active"
                        id="home"
                        role="tabpanel"
                        aria-labelledby="pills-home-tab"></div>
                    <div
                        th:insert="dashboard/mainRsvt :: main-rsvt"
                        class="tab-pane fade"
                        id="rsvt"
                        role="tabpanel"
                        aria-labelledby="pills-rsvt-tab"></div>
                    <div
                        th:insert="dashboard/mainAllo :: main-allo"
                        class="tab-pane fade"
                        id="allo"
                        role="tabpanel"
                        aria-labelledby="pills-allo-tab"></div>
                    <div
                        class="tab-pane fade"
                        id="manage"
                        role="tabpanel"
                        aria-labelledby="pills-manage-tab"></div>
                </div>
            </div>
        </main>
        <div th:replace="openTemplates/offCustomer :: offCustomer"></div>
        <div th:replace="openTemplates/modalCustomer :: modalCust"></div>
        <div th:replace="openTemplates/modalCustomerUp :: modalCustUp"></div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCutomer =/*[[${customer}]]*/
            'default';
            /*]]>*/
        </script>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script src="/js/boot/bootstrap.js"></script>
        <script src="/js/boot/bootstrap.bundle.js"></script>
        <script src="/js/boot/all.js"></script>
        <script src="/js/common/summernote-lite.js"></script>
        <script src="/js/common/summernote-ko-KR.js"></script>
        <script src="/js/common/common.js"></script>
        <script src="/js/common/calendar.js"></script>
        <script src="/js/common/calLayout.js"></script>
        <script src="/js/dashboard/mainHome.js"></script>
        <script src="/js/dashboard/mainRsvt.js"></script>
        <script src="/js/dashboard/mainAllo.js"></script>
        <script src="/js/dashboard/mainAlloReg.js"></script>
        <script src="/js/openTemplates/offCustomer.js"></script>
        <script src="/js/openTemplates/insertCustomer.js"></script>
        <script src="/js/openTemplates/updateCustomer.js"></script>
    </body>
</html>