<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <header class="header">
            <div class="logo">
                <a href="#">
                    <img src="img1.png" alt="">
                </a>
            </div>
            <div class="hd-search">
                <div class="he-serach-group">
                    <form action="">
                        <div class="hd-search-icon fas fa-search"></div>
                        <input type="text" placeholder="검색">
                    </form>
                </div>
            </div>
            <div class="hd-user">
                <div id="detail-user">
                    <span th:text="${user.company}+'&nbsp;'+${user.position}+'&nbsp;'+${user.name}"></span></div>
                <div class="fas fa-bars" id="menu-btn"></div>
            </div>
            <div class="deail-form card">
                <div class="deail-form-item">
                    <a class="fas fa-user-circle">
                        나의 정보
                    </a>
                </div>
                <div class="deail-form-item">123145124</div>
                <div class="deail-form-item">123145124</div>
                <div class="deail-form-item">123145124</div>
                <div class="deail-form-item">123145124</div>
                <div class="deail-form-item">123145124</div>
            </div>
        </header>
        <aside class="aside">
            <div class="ad-cal">
                <input type="hidden" id="today">
                <div class="ad-cal-items ad-cal-items-1 card" id="calendar">
                    <div class="dash-cal">
                        <div class="dash-cal-h">
                            <div class="">
                                <a class="btn" id="fnDownMonth">
                                    <i class="fas fa-chevron-left fa-lg"></i>
                                </a>
                            </div>
                            <div class="dash-cal-h-item dash-cal-h-item2" id="">
                                <strong><input type="month" id="yearMonth" value=""></strong>
                            </div>
                            <div class="">
                                <a class="btn" id="fnUpMonth">
                                    <i class="fas fa-chevron-right fa-lg"></i>
                                </a>
                            </div>
                            <div class="dash-cal-h-item dash-cal-h-item4">
                                <!-- <button type="button" class="btn btn-primary btn-xs" id="btnYesD"
                                control-id="ControlID-1">어제</button> -->
                                <button type="button" class="btn btn-default btn-xs" id="btnToD">오늘</button>
                                <button type="button" class="btn btn-default btn-xs" id="btnTomD">내일</button>
                            </div>
                        </div>
                        <div class="dash-cal-con" id="dash-cal-contents"></div>
                    </div>
                </div>
                <div class="ad-cal-items ad-cal-items-2 card">
                    <blockquote>
                        <p id="bigDay">2021년 11월 25일 목요일</p>
                        <footer>
                            <cite title="Source Title" id="cal1">음력 2021-10-21</cite>
                        </footer>
                    </blockquote>
                </div>
                <div class="ad-cal-items ad-cal-items-3 card" id="numday">
                    <blockquote>
                        <p id="numday1">대형 35대</p>
                        <p id="numday2">중형</p>
                        <p id="numday3">우등</p>
                    </blockquote>
                </div>
                <div class="ad-cal-items ad-cal-items-4 card">
                    <blockquote id="midday"></blockquote>
                </div>
            </div>
        </aside>
        <main class="main">
            <div class="tab-pane" role="tabpanel">
                <div class="dd-main-nav">
                    <div class="dash-cal-d card" id="dash-phone">
                        <div class="dash-cal-d-item">
                            <a class="btn" id="fnDownDay">
                                <i class="fas fa-chevron-left fa-lg"></i>
                            </a>
                        </div>
                        <div class="dash-cal-d-item dash-cal-d-item2" id="">
                            <strong><input type="date" id="yearMonthDay" value="2021-06-01"></strong>
                        </div>
                        <div class="dash-cal-d-item">
                            <a class="btn" id="fnUpDay">
                                <i class="fas fa-chevron-right fa-lg"></i>
                            </a>
                        </div>
                        <div class="dash-cal-d-item dash-cal-d-item4">
                            <!-- <button type="button" class="btn btn-primary btn-xs" id="btnYesD"
                            control-id="ControlID-1">어제</button> -->
                            <button type="button" class="btn btn-default btn-xs" id="btnToD">오늘</button>
                            <button type="button" class="btn btn-default btn-xs" id="btnTomD">내일</button>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <div>
                        <ul class="nav nav-pills nav-justified dd-nav" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">home</a>
                            </li>
                            <li role="presentation">
                                <a href="#rsvt" aria-controls="rsvt" role="tab" data-toggle="tab">운행예약</a>
                            </li>
                            <li role="presentation">
                                <a href="#allo" aria-controls="allo" role="tab" data-toggle="tab">예약관리&nbsp;&nbsp;<span class="badge" id="bdggg">0</span></a>
                            </li>
                            <li role="presentation">
                                <a href="#manage" aria-controls="manage" role="tab" data-toggle="tab">예약관리</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="tab-content tab-cont">
                    <div
                        th:insert="dashboard/mainHome :: main-home"
                        role="tabpanel"
                        class="tab-pane fade in active"
                        id="home"></div>
                    <div
                        th:insert="dashboard/mainRsvt :: main-rsvt"
                        role="tabpanel"
                        class="rsvt row tab-pane fade"
                        id="rsvt"></div>
                    <div
                        th:insert="dashboard/mainAllo :: main-allo"
                        role="tabpanel"
                        class="tab-pane fade"
                        id="allo"></div>
                    <div role="tabpanel" class="tab-pane fade" id="manage"></div>
                </div>
            </div>
        </main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            const optOperm1 = opt[0].operm1;
            const optCard = opt[0].card;
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
        </script>

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
        <script src="/js/common/summernote-lite.js"></script>
        <script src="/js/common/summernote-ko-KR.js"></script>
        <script src="/js/common/common.js"></script>
        <script src="/js/common/calendar.js"></script>
        <script src="/js/common/calLayout.js"></script>
        <script src="/js/dashboard/mainHome.js"></script>
        <script src="/js/dashboard/mainRsvt.js"></script>
        <script src="/js/dashboard/mainAllo.js"></script>
    </body>
</html>