<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <aside th:fragment="main-aside" class="aside">
        <div class="ad-cal">
            <input type="hidden" id="today">
            <div class="ad-cal-cals">
                <div class="ad-cal-items ad-cal-items-1 card-song" id="calendar">
                    <div class="dash-cal">
                        <div class="dash-cal-h">
                            <div class="">
                                <a class="btn fnDownMonth">
                                    <i class="fas fa-chevron-left fa-lg"></i>
                                </a>
                            </div>
                            <div class="dash-cal-h-item dash-cal-h-item2">
                                <strong><input type="month" class="yearMonth" value=""></strong>
                            </div>
                            <div class="">
                                <a class="btn fnUpMonth">
                                    <i class="fas fa-chevron-right fa-lg"></i>
                                </a>
                            </div>
                            <div class="dash-cal-h-item dash-cal-h-item4">
                                <button type="button" class="btn btn-secondary btn-xs btnToD">오늘</button>
                                <button type="button" class="btn btn-secondary btn-xs btnTomD">내일</button>
                            </div>
                        </div>
                        <div class="dash-cal-con" id="dash-cal-contents"></div>
                    </div>
                </div>
                <div class="home-main-item-2">
                    <div class="home-main-item-22 card-song" id="card-ve"></div>
                    <div class="home-main-item-22 card-song" id="card-emp"></div>
                    <div class="home-main-item-22-1">
                        <a class="home-main-item-22-1-item card-song" id="goRe">
                            정기운행정보
                        </a>
                    </div>
                </div>
            </div>
            <div class="ad-cal-comp">
                <div class="ad-cal-items comp card-song">
                    <div>
                        <span id="comp-name">(주)새천년관광</span>
                        <span id="comp-ceo"></span>
                    </div>
                    <div class="comp-item">
                        <span id="comp-add"></span>
                    </div>
                    <div class="comp-item">
                        <span>사업자등록번호</span>
                        <span>:</span>
                        <span id="comp-num1"></span>
                    </div>
                    <div class="comp-item">
                        <span>대표번호</span>
                        <span>:</span>
                        <span id="comp-tel"></span>
                    </div>
                    <div class="comp-item">
                        <span>이메일</span>
                        <span>:</span>
                        <span id="comp-email"></span>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</html>