<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="main-home" class="main-home">
        <div class="home-main">
            <div class="home-main-item-4">
                <div class="tab-pane card-song home-tap" role="tabpanel">
                    <div class="card-title home-main-item-444" id="all-title">운행정보</div>
                    <div class="home-main-item-444">
                        <ul class="nav nav-pills nav-justified home-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active"
                                    id="normal-title"
                                    data-bs-toggle="pill"
                                    data-bs-target="#normal"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-home"
                                    aria-selected="true">일반<span class="badge bg-secondary">0</span></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="school-title"
                                    data-bs-toggle="pill"
                                    data-bs-target="#school"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-school"
                                    aria-selected="false">학생단체<span class="badge bg-secondary">0</span></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="account-title"
                                    data-bs-toggle="pill"
                                    data-bs-target="#account"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-account"
                                    aria-selected="false">거래처<span class="badge bg-secondary">0</span></button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link regallo-tab"
                                    data-bs-toggle="pill"
                                    type="button"
                                    role="tab"
                                    aria-controls="pills-go"
                                    aria-selected="false">정기운행&nbsp;<i class="fa-solid fa-up-right-from-square"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div
                            class="tab-pane fade show active"
                            id="normal"
                            role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered home-tb">
                                    <colgroup>
                                        <col width="14%"/>
                                        <col width="23%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="10%"/>
                                        <col width="23%"/>
                                        <col width="10%"/>
                                    </colgroup>

                                    <thead class="table-light">
                                        <tr>
                                            <th>고객정보</th>
                                            <th>목적지</th>
                                            <th>차량</th>
                                            <th>대수</th>
                                            <th>금액</th>
                                            <th>출발장소</th>
                                            <th>출발시간</th>
                                        </tr>
                                    </thead>
                                    <tbody id="home-tb-normal">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div
                            class="tab-pane fade"
                            id="school"
                            role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered home-tb">
                                    <colgroup>
                                        <col width="14%"/>
                                        <col width="23%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="10%"/>
                                        <col width="23%"/>
                                        <col width="10%"/>
                                    </colgroup>

                                    <thead class="table-light">
                                        <tr>
                                            <th>학교</th>
                                            <th>목적지</th>
                                            <th>차량</th>
                                            <th>대수</th>
                                            <th>출발시간</th>
                                            <th>출발장소</th>
                                            <th>금액</th>
                                        </tr>
                                    </thead>
                                    <tbody id="home-tb-school">
                                        <tr>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div
                            class="tab-pane fade"
                            id="account"
                            role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered home-tb">
                                    <colgroup>
                                        <col width="14%"/>
                                        <col width="23%"/>
                                        <col width="5%"/>
                                        <col width="5%"/>
                                        <col width="10%"/>
                                        <col width="23%"/>
                                        <col width="10%"/>
                                    </colgroup>

                                    <thead class="table-light">
                                        <tr>
                                            <th>거래처</th>
                                            <th>목적지</th>
                                            <th>차량</th>
                                            <th>대수</th>
                                            <th>금액</th>
                                            <th>출발장소</th>
                                            <th>출발시간</th>
                                        </tr>
                                    </thead>
                                    <tbody id="home-tb-account">
                                        <tr>
                                            <td colspan="7"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-main-item-1">
                <div class="home-main-item-11 card-song" id="dash-week-10">
                    <div class="home-main-item-111 card-title" id="dash-week-11">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-12">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-13">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-14">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-15">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-20">
                    <div class="home-main-item-111 card-title" id="dash-week-21">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-22">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-23">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-24">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-25">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-30">
                    <div class="home-main-item-111 card-title" id="dash-week-31">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-32">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-33">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-34">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-35">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-40">
                    <div class="home-main-item-111 card-title" id="dash-week-41">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-42">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-43">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-44">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-45">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-50">
                    <div class="home-main-item-111 card-title" id="dash-week-51">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-52">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-53">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-54">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-55">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-60">
                    <div class="home-main-item-111 card-title" id="dash-week-61">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-62">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-63">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-64">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-65">
                </div>
                <div class="home-main-item-11 card-song" id="dash-week-70">
                    <div class="home-main-item-111 card-title" id="dash-week-71">
                        <h5>&nbsp;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-72">
                        <h2>&nbsp;</h2>
                    </div>
                    <div class="home-main-item-111" id="dash-week-73">
                        <h5>&ndash;</h5>
                    </div>
                    <div class="home-main-item-111" id="dash-week-74">
                        <h5>0 / 0 / 0</h5>
                    </div>
                    <input type="hidden" id="dash-week-75">
                </div>
            </div>
            <div class="home-main-item-2">
                <div class="home-main-item-22 card-song" id="card-ve"></div>
                <div class="home-main-item-22 card-song" id="card-emp"></div>
                <div class="home-main-item-22-1">
                    <a class="home-main-item-22-1-item card-song" id="goEmp">
                        인사정보
                    </a>
                    <a class="home-main-item-22-1-item card-song" id="goVe">
                        차량정보
                    </a>
                    <a class="home-main-item-22-1-item card-song" id="goRe">
                        정기운행정보
                    </a>
                    <a class="home-main-item-22-1-item card-song" id="goCustomer">
                        고객정보
                    </a>
                </div>
            </div>
        </div>
        <div class="allo-side">
            asdasdasd
        </div>
    </div>
</html>