<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:fragment="main-allo" class="allo">
        <div class="allo-main">
            <div class="allo-detail-item" id="onewayBtn">
                <a>편도</a>
            </div>
            <div id="allocont"></div>
            <datalist id="car-info">
                <option
                    th:each="ve : ${ve}"
                    th:value="${ve.vehicle2}"
                    th:label="${ve.vehicle2}"
                    th:data-value="${ve.carNumber}"
                    th:data-owner="${ve.owner}"></option>
                <option
                    th:each="othercompa : ${othercompa}"
                    th:value="${othercompa.ctmname}"
                    th:label="${othercompa.ctmname}"
                    th:data-value="${othercompa.ctmname}"></option>
            </datalist>
            <datalist id="per-info" style="">
                <option
                    id="aaaccc"
                    th:each="emp : ${emp}"
                    th:value="${emp.name}"
                    th:label="${emp.name}"
                    th:data-value="${emp.id}"></option>
            </datalist>
        </div>
        <div class="allo-side">
            asdasdasd
        </div>
    </div>
</html>