<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:fragment="main-allo" class="allo">
        <div class="allo-main">
            <div class="allo-detail-item" id="onewayBtn">
                <a>편도</a>
            </div>
            <div id="allocont"></div>
            <datalist id="car-info">
                <option value="1234" label="44인"></option>
                <option value="2334" label="44인"></option>
                <option value="4432" label="44인"></option>
                <option value="5523" label="44인"></option>
                <option value="4232" label="44인"></option>
                <option value="5123" label="44인"></option>
                <option value="9575" label="44인"></option>
                <option value="4221" label="44인"></option>
                <option value="4532" label="44인"></option>
                <option value="5334" label="44인"></option>
                <option value="1134" label="44인"></option>
                <option value="3543" label="44인"></option>
                <option value="타회사" label=""></option>
            </datalist>
            <datalist id="per-info">
                <option value="홍길동" label="44인"></option>
                <option value="김길동" label="44인"></option>
                <option value="차길동" label="44인"></option>
            </datalist>
        </div>
        <div class="allo-side">
            asdasdasd
        </div>
    </div>
</html>