<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:fragment="main-allo" class="allo">
        <div class="allo-main">
            <div id="allocont"></div>
            <datalist id="car-info">
                <option
                    th:each="ve : ${ve}"
                    th:value="${ve.vehicle2}"
                    th:label="${ve.vehicle2}"
                    th:data-value="${ve.carNumber}"
                    th:data-owner="${ve.owner}"></option>
                <option
                    th:each="othercompa : ${othercompa}"
                    th:value="${othercompa.ctmname}"
                    th:label="${othercompa.ctmname}"
                    th:data-value="${othercompa.ctmname}"></option>
            </datalist>
            <datalist id="per-info">
                <option
                    id="aaaccc"
                    th:each="emp : ${emp}"
                    th:value="${emp.name}"
                    th:label="${emp.name}"
                    th:data-value="${emp.id}"></option>
            </datalist>
        </div>
        <div class="allo-side">
            asdasdasd
        </div>
        <!-- Modal -->
        <div
        style="background: transparent;"
            class="modal fade"
            id="modal-one"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="md-one-hd">Modal title</h4>
                        <input type="hidden" id="btn-size" value="1">
                        <input type="hidden" id="btn-hoho" value="1">
                        <input type="hidden" id="btn-rsvt" value="1">
                        <input type="hidden" id="btn-opernum" value="1">
                        <input type="hidden" id="btn-tod" value="1">
                        <input type="hidden" id="btn-ed" value="1">
                    </div>
                    <div class="modal-body md-one-bdc" id="md-one-bd"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" id="btn-one-plus">운행 추가</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>