@charset "UTF-8";

.main-home {
    /* padding: 3rem 40rem 3rem 10rem; */
    display: flex;
    gap: 0;
}

.home-main {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin-right: 30rem;
    padding: 3rem 5rem;
}

.home-main-item-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.home-main-item-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 145px; */
    flex: 1;
}

.home-main-item-111 {}

.home-main-item-111 h2,
h4,
h5,
h6 {
    flex: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.home-main-item-111:nth-child(1) {
    /* height: 30px; */
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.home-main-item-111:nth-child(1) h5 {
    font-weight: 600;
}
.home-main-item-111:nth-child(2) {
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    font-size: 3rem;
}
.home-main-item-111:nth-child(3) {
    /* height: 25px; */
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.home-main-item-111:nth-child(4) {
    /* height: 30px; */
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-main-item-2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.home-main-item-2 h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.home-main-item-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex: 1;
    padding: 1rem;
}

.home-main-item-22-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.home-main-item-22-1-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-item-222:nth-child(1) {
    align-items: center;
    justify-content: flex-end;
    font-size: 4rem;
}
.home-main-item-222:nth-child(2),
.home-main-item-222:nth-child(3) {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.home-main-item-222-span {
    flex: 1;
    display: flex;
    align-items: center;
}

.home-main-item-222-span:nth-child(1) {
    font-size: 1.2rem;
}
.home-main-item-222-span:nth-child(2) {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}
.home-main-item-222-span:nth-child(3) {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    gap: 0.3rem;
}
.home-main-item-222-span:nth-child(3) span {
    cursor: help;
}

dl {
    margin-bottom: 0;
}

.home-main-item-4 {
    flex: 1;
    display: flex;
    gap: 2rem;
}

.home-tap {
    flex: 1;
    display: flex;
    flex-direction: column;
}

ul {
    margin-bottom: 0;
}
.home-tap-1 {}

.home-main-item-44:nth-child(1) {
    flex: 1;
}

.home-tb {
    margin-bottom: 0;
}

.home-main-item-444:nth-child(1) {
    /* height: 50px; */
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: 600;
}

@media (max-width:992px) {
    .home-main {
        padding: 0;
        margin: 0;
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    .main-home {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
        margin: 0;
    }

    .home-main-item-2 {
        flex-direction: column;
    }

    .home-main-item-1 {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-main-item-11:nth-child(1) {
        /* height: 120px; */
    }
    .home-main-item-11:nth-child(2) {
        /* height: 120px; */
    }
    .home-main-item-11:nth-child(3) {
        /* height: 120px; */
    }
    .home-main-item-11:nth-child(4) {
        display: none;
    }
    .home-main-item-11:nth-child(5) {
        display: none;
    }
    .home-main-item-11:nth-child(6) {
        display: none;
    }
    .home-main-item-11:nth-child(7) {
        display: none;
    }

    .home-main-item-22 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .home-main-item-22-1-item {
        height: auto;
        padding: 1rem;
    }
}
