@charset "UTF-8";

.main-manage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 18rem;
}

.main-manage-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem;
}

@media (max-width:1024px) {}

@media (max-width:768px) {}