@charset "UTF-8";
body {
    padding: 5rem;
    background: #f6f7f9;
}

select {
    border: 0;
    height: 30px;
    background: transparent;
}

th {
    text-align: center;
    vertical-align: middle;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.th-ct {
    text-align: center;
}

#rsvt-tb input {
    border: 0;
    padding: 0;
    height: 30px;
    width: 100%;
    background: transparent;
}

#rsvt-tb input:focus {
    outline: none;
}

#ername:focus {
    color: red;
}

#t-cnt small {
    padding-left: 3rem;
}

.modal-dialog i {
    background: #346cb024;
    color: #346CB0;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.rsvt-ctm {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding-left: 2rem;
    margin-bottom: 3rem;

}

.rsvt-ctm h3 {
    margin: 0;
}

.rsvt-cst {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rsvt-cst small {
    margin-left: 3rem;
}

.asd {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;

    border: 1px solid transparent;
    background: #d1d4da;
    color: #000000;
}

.plus-btn {
    text-align: center;
    min-width: 4px;
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    margin-top: 26px;
    border-radius: 0.3rem;
    padding: 0;
}

.modal-body {
    padding: 3rem 10rem;
}

.modal-header {
    padding: 2rem 8rem;
}

.modal-footer {
    padding: 2rem 10rem;
}
