<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <aside class="nomal-aside">
            <div class="nomal-aside-main">
                <div class="nomal-aside-btn">
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <button type="button" class="btn btn-default" id="md-New">
                            신규입력&nbsp;<i class="fas fa-plus-square"></i>
                        </button>
                    </div>
                    <div class="nomal-aside-btn-item btn-group" role="group">
                        <button type="button" class="btn btn-default" id="insert-money">
                            급여입력&nbsp;<i class="fas fa-plus-square"></i>
                        </button>
                        <input type="hidden" id="showm" value="0">
                    </div>
                </div>
                <div class="nomal-aside-search">
                    <div class="hd-search">
                        <div class="hd-serach-group">
                            <div class="hd-search-icon">
                                <i class=" fas fa-search"></i>
                            </div>
                            <input
                                type="text"
                                id="emp-search"
                                autocomplete="off"
                                oninput="getEmpAll(this.value)"
                                placeholder="검색">
                            <button id="btn-x">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hd-name scBar">
                    <input type="hidden" id="emp-iidd">
                    <div role="tabpanel">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified evNav shadow-sm" role="tablist">
                            <li class="nav-item size-hidden" role="presentation">
                                <button
                                    class="nav-link active tab-flex"
                                    id="all-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#all"
                                    type="button"
                                    role="tab"
                                    aria-controls="all"
                                    aria-selected="true">
                                    <div class="tab-flex-ve">
                                        <span>전체</span>
                                        <span class="badge bg-secondary" id="bgAll">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="compa-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#compa"
                                    type="button"
                                    role="tab"
                                    aria-controls="compa"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>회사</span>
                                        <span class="badge bg-secondary" id="bgCompa">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="solo-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#solo"
                                    type="button"
                                    role="tab"
                                    aria-controls="solo"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>개인</span>
                                        <span class="badge bg-secondary" id="bgSolo">00</span>
                                    </div>

                                </button>
                            </li>
                            <li class="nav-item size-hidden" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="yeb-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#yeb"
                                    type="button"
                                    role="tab"
                                    aria-controls="yeb"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>예비</span>
                                        <span class="badge bg-secondary" id="bgYeb">00</span>
                                    </div>
                                </button>
                            </li>
                            <li class="nav-item size-hidden" role="presentation">
                                <button
                                    class="nav-link tab-flex"
                                    id="outman-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#outman"
                                    type="button"
                                    role="tab"
                                    aria-controls="outman"
                                    aria-selected="false">
                                    <div class="tab-flex-ve">
                                        <span>퇴사</span>
                                        <span class="badge bg-secondary" id="bgOutman">00</span>
                                    </div>
                                </button>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content hd-tb scBar scBarEmp">
                            <div
                                class="tab-pane fade show active"
                                id="all"
                                role="tabpanel"
                                aria-labelledby="all-tab">
                                <div class="table-responsive">
                                    <table
                                        class="table table-striped table-hover table-bordered  table-sortable"
                                        id="ddssaa">
                                        <colgroup>
                                            <!-- <col width="25%"/> <col width="15%"/> <col width="15%"/> <col width="20%"/>
                                            <col width="15%"/> <col width="10%"/> -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>차량</th>
                                                <th>소속</th>
                                                <th class="size-hidden">생년월일</th>
                                                <th class="size-hidden">나이</th>
                                                <th class="size-hidden">종류</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emp-tb-all"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="compa"
                                role="tabpanel"
                                aria-labelledby="compa-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered table-sortable">
                                        <colgroup>
                                            <!-- <col width="25%"/> <col width="15%"/> <col width="15%"/> <col width="20%"/>
                                            <col width="15%"/> <col width="10%"/> -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>차량</th>
                                                <th>소속</th>
                                                <th class="size-hidden">생년월일</th>
                                                <th class="size-hidden">나이</th>
                                                <th class="size-hidden">종류</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emp-tb-compa"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="solo" role="tabpanel" aria-labelledby="solo-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <!-- <col width="25%"/> <col width="15%"/> <col width="15%"/> <col width="20%"/>
                                            <col width="15%"/> <col width="10%"/> -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>차량</th>
                                                <th>소속</th>
                                                <th class="size-hidden">생년월일</th>
                                                <th class="size-hidden">나이</th>
                                                <th class="size-hidden">종류</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emp-tb-solo"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="yeb" role="tabpanel" aria-labelledby="yeb-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <!-- <col width="25%"/> <col width="25%"/> <col width="25%"/> <col width="25%"/>
                                            -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>소속</th>
                                                <th>생년월일</th>
                                                <th>나이</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emp-tb-yeb"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div
                                class="tab-pane fade"
                                id="outman"
                                role="tabpanel"
                                aria-labelledby="outman-tab">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover table-bordered  table-sortable">
                                        <colgroup>
                                            <!-- <col width="25%"/> <col width="25%"/> <col width="25%"/> <col width="25%"/>
                                            -->
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>소속</th>
                                                <th>생년월일</th>
                                                <th>나이</th>
                                            </tr>
                                        </thead>
                                        <tbody id="emp-tb-outman"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="hd-tb-bt"></div>
                    </div>
                </div>
            </div>
        </aside>
        <header class="nomal-head">
            <div class="nomal-head-item"></div>
            <div class="nomal-head-item">
                <a id="show-aside">
                    <input type="hidden" value="0" id="show-aside-hd">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
        </header>
        <main class="nomal-main">
            <div class="main-aside" id="empNomal">
                <div class="main-aside-item">
                    <div class="main-aside-item-head emp-nth card-song">
                        <div class="main-aside-item-head-item">
                            <input type="hidden" id="emp00" value="">
                            <a href="img/employee/emp.png" target='_blank' id="empPic-a">
                                <img
                                    src="img/employee/emp.png"
                                    onerror="this.src='img/employee/emp.png'"
                                    alt=""
                                    class="cardImg img-thumbnail"
                                    id="empPic">
                            </a>
                        </div>
                        <div class="main-aside-item-head-item">
                            <div class="emp-head-detail" id="emp01">회사</div>
                            <div class="emp-head-detail" id="emp02">구분</div>
                            <div class="emp-head-detail" id="emp03">
                                <span>이름</span>
                            </div>
                            <div class="emp-head-detail" id="emp04">운행차량</div>
                            <div class="emp-head-detail" id="emp05">
                                생년월일
                                <input type="hidden" id="emp05-1" value="">
                            </div>

                            <div class="emp-head-detail" id="emp06">성별</div>
                            <div class="emp-head-detail" id="emp07">연락처</div>
                            <div class="emp-head-detail" id="emp08"></div>
                            <div class="emp-head-detail" id="emp09">비상연락처</div>
                            <div class="emp-head-detail" id="emp10"></div>
                        </div>
                    </div>

                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">주소</div>
                                <div class="emp-add-detail" id="emp11"></div>
                                <div class="emp-add-detail emp-ttt">차고지</div>
                                <div class="emp-add-detail" id="emp12"></div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">입사일</div>
                                <div class="emp-add-detail" id="emp13">
                                    <input type="hidden" id="emp13-1" value="">
                                </div>
                                <div class="emp-add-detail emp-ttt">퇴사일</div>
                                <div class="emp-add-detail" id="emp14">
                                    <input type="hidden" id="emp14-1" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">면허번호</div>
                                <div class="emp-add-detail" id="emp15"></div>
                                <div class="emp-add-detail emp-ttt">버스자격증</div>
                                <div class="emp-add-detail" id="emp16"></div>
                                <div class="emp-add-detail emp-ttt">보수교육</div>
                                <div class="emp-add-detail" id="emp17">
                                    <input type="hidden" id="emp17-1" value="">
                                    <input type="hidden" id="emp17-2" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">급여계좌</div>
                                <div class="emp-add-detail" id="emp18">
                                    <input type="hidden" id="emp18-1" value="">
                                    <input type="hidden" id="emp18-2" value="">
                                    <input type="hidden" id="emp18-3" value="">
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="emp-nth card-song">
                        <blockquote>
                            <div class="main-aside-item-add">
                                <div class="emp-add-detail emp-ttt">메모</div>
                                <div class="emp-add-detail" id="emp19"></div>
                                <input type="hidden" id="emp20" value="">
                                <input type="hidden" id="emp21" value="">
                                <input type="hidden" id="emp22" value="">
                                <input type="hidden" id="emp23" value="">
                                <input type="hidden" id="emp24" value="">
                            </div>
                        </blockquote>
                    </div>
                    <div
                        class="btn-group btn-group-justified emp-nth"
                        role="group"
                        aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-light" id="md-Ch">수&nbsp;정</button>
                        </div>
                    </div>
                </div>
                <div class="main-aside-item card-song">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills nav-justified dd-nav dd-nav2" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link active"
                                    id="mainoper-home-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#mainoper"
                                    type="button"
                                    role="tab"
                                    aria-controls="mainoper-home"
                                    aria-selected="true">Home</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="operemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#operemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="operemp-profile"
                                    aria-selected="false">운행내역</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="moneyemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#moneyemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="moneyemp-profile"
                                    aria-selected="false">급여</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button
                                    class="nav-link"
                                    id="infoemp-profile-tab"
                                    data-bs-toggle="pill"
                                    data-bs-target="#infoemp"
                                    type="button"
                                    role="tab"
                                    aria-controls="infoemp-profile"
                                    aria-selected="false">Settings</button>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div
                                th:insert="employee/empHome :: emp-home"
                                class="tab-pane fade show active"
                                id="mainoper"
                                role="tabpanel"
                                aria-labelledby="pills-mainoper-tab"></div>
                            <div
                                th:insert="employee/empOper :: emp-oper"
                                class="tab-pane fade"
                                id="operemp"
                                role="tabpanel"
                                aria-labelledby="pills-operemp-tab"></div>
                            <div
                                th:insert="employee/empMoney :: emp-money"
                                class="tab-pane fade"
                                id="moneyemp"
                                role="tabpanel"
                                aria-labelledby="pills-moneyemp-tab"></div>
                            <div
                                th:insert="employee/empInfo :: emp-info"
                                class="tab-pane fade"
                                id="infoemp"
                                role="tabpanel"
                                aria-labelledby="pills-infoemp-tab"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="offcanvas offcanvas-bottom"
                data-bs-scroll="true"
                data-bs-backdrop="false"
                tabindex="-1"
                id="oper3"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h3 id="oper3Label"></h3>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body-regOper">
                    <div class="main-EmpReg-main">
                        <table class="table table-bordered table-striped tbEmpRegAllo">
                            <colgroup>
                                <col width="5%"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                                <col width="auto"/>
                            </colgroup>
                            <thead id="thDays"></thead>
                            <tbody id="tbAllo"></tbody>
                            <tfoot id="tfBtn"></tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div
                class="offcanvas offcanvas-end"
                data-bs-scroll="true"
                data-bs-backdrop="false"
                tabindex="-1"
                id="offAlloIn"
                aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">
                    <h3 id="offAlloInLabel"></h3>
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body-regOper">
                    <div class="main-EmpAllo-main">
                        <div class="offAll1">
                            <div class="offAll1-item">
                                <h3>일반운행 목록</h3>
                            </div>
                            <div class="offAll1-item scBar">
                                <table class="table table-bordered table-striped tbEmpRegAllo">
                                    <colgroup>
                                        <col width="5%"/>
                                        <col width="20%"/>
                                        <col width="30%"/>
                                        <col width="30%"/>
                                        <col width="15%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>운행일</th>
                                            <th>목적지</th>
                                            <th>출발지</th>
                                            <th>금액</th>
                                        </tr>
                                    </thead>
                                    <tbody id="offAlloInTb"></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="offAll2">
                            <div class="offAll2-item">
                                <h3>정기운행 목록</h3>
                            </div>
                            <div class="offAll2-item scBar">
                                <table class="table table-bordered table-striped tbEmpRegAllo">
                                    <colgroup>
                                        <col width="5%"/>
                                        <col width="20%"/>
                                        <col width="30%"/>
                                        <col width="30%"/>
                                        <col width="15%"/>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>운행일</th>
                                            <th>회사</th>
                                            <th>노선</th>
                                            <th>금액</th>
                                        </tr>
                                    </thead>
                                    <tbody id="offAlloRegInTb"></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                th:insert="employee/empMoneyInsert :: emp-money-in"
                class="main-adise-money"
                id="empMoney"></div>
        </main>

        <!-- Modal -->
        <div
            id="modal-insert"
            class="modal fade"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="staticBackdropLabel">Modal title</h2>
                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id">
                        <div class="emp-insert">
                            <div class="emp-insert-item emp-pic">
                                <img
                                    src="img/employee/emp.png"
                                    onerror="this.src='img/employee/emp.png'"
                                    id="emp-pic-pre"
                                    alt=""
                                    class="cardImg img-thumbnail">
                                <form class="row" action="" id="emp-form">
                                    <div class="form-group" style="padding-top: 1rem;">
                                        <label class="file-la" for="imgSelector">사진 파일선택</label>
                                        <input
                                            type="file"
                                            accept="image/*"
                                            name="uploadfile"
                                            id="imgSelector"
                                            style="display: none;">
                                        <input type="hidden" name="empid" id="empid">
                                    </div>
                                </form>
                            </div>
                            <div class="emp-insert-item row" style="margin-left: 1rem;">
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="name">이름</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        style="ime-mode: active"
                                        class="form-control"
                                        id="name"
                                        name="name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="birthday">생년월일</label>
                                    <input type="date" class="form-control" id="birthday" name="birthday">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gender">성별</label>
                                    <select class="form-select" id="gender" name="gender">
                                        <option>남</option>
                                        <option>여</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="company">회사</label>
                                    <select class="form-select" id="company" name="company">
                                        <option>미정</option>
                                        <option
                                            th:each="company : ${company}"
                                            th:value="${company.company}"
                                            th:label="${company.company}"
                                            th:data-value="${company.company}"></option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="kind">구분</label>
                                    <select class="form-select" id="kind" name="kind">
                                        <option>회사</option>
                                        <option>개인</option>
                                        <option>예비</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="phone1">연락처</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="phone1"
                                        name="phone1"
                                        placeholder="010-0000-0000">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="phone2">비상연락처</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="phone2"
                                        name="phone2">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="address">주소</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="address"
                                        name="address">
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="garage">차고지</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="garage"
                                        name="garage">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="joind">입사일</label>
                                    <input type="date" class="form-control" id="joind" name="joind">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="endd">퇴사일*(입력시 퇴사 처림됨)</label>
                                    <input type="date" class="form-control" id="endd" name="endd">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="drvl">면허번호</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="drvl"
                                        name="drvl">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="busl">버스자격증번호</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="busl"
                                        name="busl">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="bosum">보수교육일</label>
                                    <input
                                        type="date"
                                        autocomplete="off"
                                        class="form-control"
                                        id="bosum"
                                        name="bosum">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="bobuj">보수교육</label>
                                    <select class="form-select" id="bobuj" name="bobuj">
                                        <option>없음</option>
                                        <option>신규</option>
                                        <option>보수</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="bank">은행</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="bank"
                                        name="bank">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gye">계좌번호</label>
                                    <input type="text" autocomplete="off" class="form-control" id="gye" name="gye">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" for="gyename">예금주</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="gyename"
                                        name="gyename">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="emp-insert row" style="margin-bottom: 2rem;">
                            <div class="emp-insert-item">기본정보</div>
                            <div class="emp-insert-item row">
                                <div class="form-group col-md-12">
                                    <label class="form-label" for="memo">메모</label>
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        class="form-control"
                                        id="memo"
                                        name="memo">
                                    <input type="hidden" id="basem" value="0">
                                    <input type="hidden" id="kukm" value="0">
                                    <input type="hidden" id="gunm" value="0">
                                    <input type="hidden" id="gom" value="0">
                                    <input type="hidden" id="sanm" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn-insert">Save changes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const user =/*[[${user}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${company}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
        </script>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script src="/js/boot/bootstrap.js"></script>
        <script src="/js/boot/bootstrap.bundle.js"></script>
        <script src="/js/boot/all.js"></script>
        <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
        <script src="/js/common/summernote-lite.js"></script>
        <script src="/js/common/summernote-ko-KR.js"></script>
        <script src="/js/common/common.js"></script>
        <script src="/js/employee/employeeBody.js"></script>
        <script src="/js/employee/empOper.js"></script>
        <script src="/js/employee/empMoneyInsert.js"></script>
        <script src="/js/employee/empMoneyInsertGetM.js"></script>
        <script src="/js/employee/empMoneyInsertSumM.js"></script>
    </body>
</html>