<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:fragment="emp-oper" class="operEmp card">
	<div class="operEmp-item">
		<div class="dash-cal-h">
			<div class="dash-cal-h-item dash-cal-h-item1" id="fnDownMonth">
				<i class="fas fa-chevron-left fa-lg"></i>
			</div>
			<div class="dash-cal-h-item dash-cal-h-item2" id="">
				<strong><input class="yearmonths" type="month"
					id="yearMonth01" value=""></strong>
			</div>
			<div class="dash-cal-h-item dash-cal-h-item3" id="fnUpMonth">
				<i class="fas fa-chevron-right fa-lg"></i>
			</div>
		</div>
	</div>
	<div class="operEmp-item"></div>
	<div class="operEmp-item card">
		<div>
			<h4>일반 운행 내역</h4>
		</div>
		<table
			class="table table-striped table-hover table-bordered table-condensed table-sortable home-tb">
			<colgroup></colgroup>
			<thead>
				<tr>
					<th class="hideTh"></th>
					<th class="hideTh"></th>
					<th class="hideTh"></th>
					<th class="hideTh"></th>
					<th>번호</th>
					<th>운행일</th>
					<th>목적지</th>
					<th>운행</th>
					<th>고객정보</th>
					<th>금액</th>
				</tr>
			</thead>
			<tbody id="emp-oper-tb"></tbody>
		</table>
	</div>
	<div class="operEmp-item card"></div>
</div>
</html>