#empMoney {
    display: none;
}

#empNomal {}

.main-adise-money {
    padding: 3rem;
}

.inTb {
    border: 1px solid #718a8b;
    border-top: none;
}
.outTb {
    border: 1px solid #223347;
    border-top: none;
}

.inTb .table-striped > tbody > tr:nth-of-type(odd) {
    background: #718a8b14;
}
.outTb .table-striped > tbody > tr:nth-of-type(odd) {
    background: #22334714;
}

.inTb table {
    margin: 0;
}
.outTb table {
    margin: 0;
}

.moneyInsertEmp {
    min-height: calc(100vh - 6rem);
    display: flex;
    gap: 2rem;
}

.moneyInsertEmp-item {
    display: flex;
    gap: 1rem;
}

.moneyInsertEmp-item:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 60rem;
    position: fixed;
    z-index: 950;
    min-height: calc(100vh - 6rem);
}
.moneyInsertEmp-item:nth-child(2) {
    width: 100%;
    margin-left: 62rem;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6rem);
}

.moneyInsertEmp-start {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    min-height: calc(100vh - 31rem);
}

.moneyInsertEmp-End {
    flex: 1;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    padding: 1rem 3rem;
    min-height: 23rem;
}

.moneyInsertEmp-End-item:nth-child(1) {
    flex: 1;
}
.moneyInsertEmp-End-item:nth-child(2) {
    flex: 1;
    display: grid;
}

.End-items {
    text-align: center;
}

.End-items:nth-child(1),
.End-items:nth-child(11),
.End-items:nth-child(13),
.End-items:nth-child(15),
.End-items:nth-child(17),
.End-items:nth-child(19),
.End-items:nth-child(21),
.End-items:nth-child(21),
.End-items:nth-child(3),
.End-items:nth-child(5),
.End-items:nth-child(7),
.End-items:nth-child(9) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #ddd;
    border-left: 1px dashed #ddd;
}
.End-items:nth-child(10),
.End-items:nth-child(12),
.End-items:nth-child(14),
.End-items:nth-child(16),
.End-items:nth-child(18),
.End-items:nth-child(2),
.End-items:nth-child(20),
.End-items:nth-child(22),
.End-items:nth-child(24),
.End-items:nth-child(4),
.End-items:nth-child(6),
.End-items:nth-child(8) {
    padding-right: 5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px dashed #ddd;
    border-left: 1px dashed #ddd;
}

.End-items:nth-child(1),
.End-items:nth-child(2),
.End-items:nth-child(3),
.End-items:nth-child(4) {
    border-top: 2px solid #ddd;
}
.End-items:nth-child(1),
.End-items:nth-child(13),
.End-items:nth-child(17),
.End-items:nth-child(21),
.End-items:nth-child(5),
.End-items:nth-child(9) {
    border-left: 2px solid #ddd;
}
.End-items:nth-child(12),
.End-items:nth-child(16),
.End-items:nth-child(20),
.End-items:nth-child(22),
.End-items:nth-child(4),
.End-items:nth-child(8) {
    border-right: 2px solid #ddd;
}

.End-items:nth-child(17),
.End-items:nth-child(18),
.End-items:nth-child(21),
.End-items:nth-child(22) {
    border-bottom: 2px solid #ddd;
}

.End-items:nth-child(19),
.End-items:nth-child(20) {
    border-bottom: 2px solid #ddd;
}

.End-items:nth-child(18),
.End-items:nth-child(19),
.End-items:nth-child(20) {
    border-left: 2px solid #ddd;
}

.End-items:nth-child(17),
.End-items:nth-child(18),
.End-items:nth-child(19),
.End-items:nth-child(20) {
    border-top: thick double #ddd;
}

.End-items:nth-child(21) {
    border-top: none;
    grid-column: 3 / 4;
}
.End-items:nth-child(22) {
    border-top: none;
    border-left: 2px solid #ddd;
    grid-column: 4 / 5;
}

.tb-End {
    width: 100%;
    height: 100%;
    text-align: center;
}

.tb-End tr {
    padding: 1rem;
}

.inM {
    padding: 1rem;
}

.inM:nth-child(1),
.inM:nth-child(3),
.inM:nth-child(5) {}
.inM:nth-child(2),
.inM:nth-child(4),
.inM:nth-child(6) {}

.operTitle {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.operTitle-item {
    letter-spacing: 0.5rem;
    padding-left: 2rem;
    gap: 2rem;
}

.operTitle-item:nth-child(1) {}
.operTitle-item:nth-child(2) {
    flex: 1;
}

.operCont {
    margin-top: 0.3rem;
    overflow-y: scroll;
    max-height: calc(100vh - 22rem);
}

.dash-cal-h-money {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
}

.operCont tr {
    cursor: pointer;
}

.tab-flex-Minsert {
    flex-direction: row;
    justify-content: center;
}

.tab-oper-m {
    padding: 1rem;
}

.insert-cont-main {
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

.insert-cont-item:nth-child(1) {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.insert-cont-item:nth-child(2) {
    flex: 1;
}

.insert-cont-item-title1,
.insert-cont-item-title2 {
    display: flex;
    color: #ffffff;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: space-between;
}

.insert-cont-item-title1 {
    border: 1px solid #718a8b;
    background: #718a8b;
}
.insert-cont-item-title2 {
    border: 1px solid #223347;
    background: #223347;
}

.insert-cont-item-title .btn {
    padding: 0 1rem;
}

.insert-name {
    display: flex;
    padding: 0 1rem;
}

.insert-name-item {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ddd;
}

.insert-name-item:nth-child(2),
.insert-name-item:nth-child(4),
.insert-name-item:nth-child(6) {
    flex: 1;
    max-width: 20%;
}
.insert-name-item:nth-child(3),
.insert-name-item:nth-child(5),
.insert-name-item:nth-child(7) {
    flex: 1;
    max-width: auto;
}

.insert-cont-item-cont .btn {
    padding: 1rem;
}

.insert-cont-item input {
    width: 100%;
}
.insert-cont-item .table > thead > tr > th {
    vertical-align: middle;
}

.input-tr {}

.aaaadddd1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #718a8b;
}

.itttem1 {
    padding: 1rem 0.3rem;
}

.itttem1 .form-control {
    padding: 0;
}

.itttem1:nth-child(1) {
    width: 22%;
}
.itttem1:nth-child(2) {
    width: 15%;
}
.itttem1:nth-child(3) {
    width: 33%;
}
.itttem1:nth-child(4) {
    width: 20%;
}
.itttem1:nth-child(5) {
    width: 10%;
    text-align: center;
    /* background: var(--main-color); */
}

.aaaadddd2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #223347;
}

.itttem2 {
    padding: 1rem 0.3rem;
}

.itttem2 .form-control {
    padding: 0;
}

.itttem2:nth-child(1) {
    width: 22%;
}
.itttem2:nth-child(2) {
    width: 15%;
}
.itttem2:nth-child(3) {
    width: 33%;
}
.itttem2:nth-child(4) {
    width: 20%;
}
.itttem2:nth-child(5) {
    width: 10%;
    text-align: center;
    /* background: var(--main-color); */
}

.input-M,
.output-M {
    width: 100%;
    text-align: center;
}

.input-MM {
    width: 100%;
    height: 100%;
    text-align: right;
}

@media (max-width:992px) {
    .moneyInsertEmp {
        flex-direction: column;
    }
}
