<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <!-- Modal -->
    <div
        th:fragment="ve-MD-file"
        class="modal fade bs-example-modal-lg"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myLargeModalLabel"
        aria-hidden="true"
        id="modal-file">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title fas fa-download" id="myModalLabel-file">Modal title</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="get" id="down-form">
                        <div class="form-group">
                            <label for="compa-file">회사</label>
                            <select class="form-control input-sm" id="compa-file" name="compa">
                                <option
                                    th:each="company : ${company}"
                                    th:value="${company.company}"
                                    th:label="${company.company}"
                                    th:data-value="${company.company}"></option>
                            </select>
                        </div>
                    </form>
                    <div class="md-file">
                        <a id="btn-excel-d" class="">EXCEL 파일 생성&nbsp;
                            <i class="far fa-file-excel btn-excel"></i>
                        </a>
                        <a id="btn-pdf-d" class="">PDF 파일 생성&nbsp;
                            <i class="far fa-file-pdf btn-pdf"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>