<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="item_Main card-song">
		<div class="dash-cal">
			<div class="dash-cal-h">
				<div class="dash-cal-h-item dash-cal-h-item1" id="fnDownMonth">
					<i class="fas fa-chevron-left fa-lg"></i>
				</div>
				<div class="dash-cal-h-item dash-cal-h-item2" id="yearMonth">
					<strong>2021년 11월</strong>
				</div>
				<div class="dash-cal-h-item dash-cal-h-item3" id="fnUpMonth">
					<i class="fas fa-chevron-right fa-lg"></i>
				</div>
				<div class="dash-cal-h-item dash-cal-h-item4">
					<button type="button" class="btn btn-primary btn-xs" id="btnYesD">어제</button>
					<button type="button" class="btn btn-default btn-xs" id="btnToD">오늘</button>
					<button type="button" class="btn btn-default btn-xs" id="btnTomD">내일</button>
				</div>
			</div>
			<div class="dash-cal-con" id="dash-cal-contents">
				<div class="dash-cal-con-item">
					<span>월</span>
				</div>
				<div class="dash-cal-con-item">
					<span>화</span>
				</div>
				<div class="dash-cal-con-item">
					<span>수</span>
				</div>
				<div class="dash-cal-con-item">
					<span>목</span>
				</div>
				<div class="dash-cal-con-item">
					<span>금</span>
				</div>
				<div class="dash-cal-con-item cal-sat">
					<span class="#0C6FCD">토</span>
				</div>
				<div class="dash-cal-con-item cal-sun">
					<span class="#CF2F11">일</span>
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item1" onclick="setCalWhite(this.id)">
					<span>1</span><input type="hidden" id="calDay1" value="2021-11-1">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item2" onclick="setCalWhite(this.id)">
					<span>2</span><input type="hidden" id="calDay2" value="2021-11-2">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item3" onclick="setCalWhite(this.id)">
					<span>3</span><input type="hidden" id="calDay3" value="2021-11-3">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item4" onclick="setCalWhite(this.id)">
					<span>4</span><input type="hidden" id="calDay4" value="2021-11-4">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item5" onclick="setCalWhite(this.id)">
					<span>5</span><input type="hidden" id="calDay5" value="2021-11-5">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item6" onclick="setCalWhite(this.id)" style="color: #4B89DC;">
					<span>6</span><input type="hidden" id="calDay6" value="2021-11-6">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item7" onclick="setCalWhite(this.id)" style="color: #CF2F11;">
					<span>7</span><input type="hidden" id="calDay7" value="2021-11-7">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item8" onclick="setCalWhite(this.id)">
					<span>8</span><input type="hidden" id="calDay8" value="2021-11-8">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item9" onclick="setCalWhite(this.id)">
					<span>9</span><input type="hidden" id="calDay9" value="2021-11-9">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item10" onclick="setCalWhite(this.id)">
					<span>10</span><input type="hidden" id="calDay10" value="2021-11-10">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item11" onclick="setCalWhite(this.id)">
					<span>11</span><input type="hidden" id="calDay11" value="2021-11-11">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item12" onclick="setCalWhite(this.id)">
					<span>12</span><input type="hidden" id="calDay12" value="2021-11-12">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item13" onclick="setCalWhite(this.id)" style="color: #4B89DC;">
					<span>13</span><input type="hidden" id="calDay13" value="2021-11-13">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item14" onclick="setCalWhite(this.id)" style="color: #CF2F11;">
					<span>14</span><input type="hidden" id="calDay14" value="2021-11-14">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item15" onclick="setCalWhite(this.id)">
					<span>15</span><input type="hidden" id="calDay15" value="2021-11-15">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item16" onclick="setCalWhite(this.id)">
					<span>16</span><input type="hidden" id="calDay16" value="2021-11-16">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item17" onclick="setCalWhite(this.id)">
					<span>17</span><input type="hidden" id="calDay17" value="2021-11-17">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item18" onclick="setCalWhite(this.id)">
					<span>18</span><input type="hidden" id="calDay18" value="2021-11-18">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item19" onclick="setCalWhite(this.id)">
					<span>19</span><input type="hidden" id="calDay19" value="2021-11-19">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item20" onclick="setCalWhite(this.id)" style="color: #4B89DC;">
					<span>20</span><input type="hidden" id="calDay20" value="2021-11-20">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item21" onclick="setCalWhite(this.id)" style="color: #CF2F11;">
					<span>21</span><input type="hidden" id="calDay21" value="2021-11-21">
				</div>
				<div class="dash-cal-con-item-t" id="dash-cal-con-item22" onclick="setCalWhite(this.id)">
					<span>22</span><input type="hidden" id="calDay22" value="2021-11-22">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item23" onclick="setCalWhite(this.id)">
					<span>23</span><input type="hidden" id="calDay23" value="2021-11-23">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item24" onclick="setCalWhite(this.id)">
					<span>24</span><input type="hidden" id="calDay24" value="2021-11-24">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item25" onclick="setCalWhite(this.id)">
					<span>25</span><input type="hidden" id="calDay25" value="2021-11-25">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item26" onclick="setCalWhite(this.id)">
					<span>26</span><input type="hidden" id="calDay26" value="2021-11-26">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item27" onclick="setCalWhite(this.id)" style="color: #4B89DC;">
					<span>27</span><input type="hidden" id="calDay27" value="2021-11-27">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item28" onclick="setCalWhite(this.id)" style="color: #CF2F11;">
					<span>28</span><input type="hidden" id="calDay28" value="2021-11-28">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item29" onclick="setCalWhite(this.id)">
					<span>29</span><input type="hidden" id="calDay29" value="2021-11-29">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item30" onclick="setCalWhite(this.id)">
					<span>30</span><input type="hidden" id="calDay30" value="2021-11-30">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item31" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>1</span><input type="hidden" id="calDay31" value="2021-12-1">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item32" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>2</span><input type="hidden" id="calDay32" value="2021-12-2">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item33" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>3</span><input type="hidden" id="calDay33" value="2021-12-3">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item34" onclick="setCalWhite(this.id)" style="color: #6fa0e3;">
					<span>4</span><input type="hidden" id="calDay34" value="2021-12-4">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item35" onclick="setCalWhite(this.id)" style="color: #f0674f;">
					<span>5</span><input type="hidden" id="calDay35" value="2021-12-5">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item36" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>6</span><input type="hidden" id="calDay36" value="2021-12-6">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item37" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>7</span><input type="hidden" id="calDay37" value="2021-12-7">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item38" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>8</span><input type="hidden" id="calDay38" value="2021-12-8">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item39" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>9</span><input type="hidden" id="calDay39" value="2021-12-9">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item40" onclick="setCalWhite(this.id)" style="color: #8390A2;">
					<span>10</span><input type="hidden" id="calDay40" value="2021-12-10">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item41" onclick="setCalWhite(this.id)" style="color: #6fa0e3;">
					<span>11</span><input type="hidden" id="calDay41" value="2021-12-11">
				</div>
				<div class="dash-cal-con-item-c" id="dash-cal-con-item42" onclick="setCalWhite(this.id)" style="color: #f0674f;">
					<span>12</span><input type="hidden" id="calDay42" value="2021-12-12">
				</div>
			</div>
		</div>
	</div>

</body>
</html>