<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <div th:fragment="calendar" class="dash-cal">
        <div class="dash-cal-h">
            <div class="dash-cal-h-item dash-cal-h-item1" id="fnDownMonth">
                <i class="fas fa-chevron-left fa-lg"></i>
            </div>
            <div class="dash-cal-h-item dash-cal-h-item2" id="yearMonth"></div>
            <div class="dash-cal-h-item dash-cal-h-item3" id="fnUpMonth">
                <i class="fas fa-chevron-right fa-lg"></i>
            </div>
            <div class="dash-cal-h-item dash-cal-h-item4">
                <button type="button" class="btn btn-primary btn-xs" id="btnYesD">어제</button>
                <button type="button" class="btn btn-default btn-xs" id="btnToD">오늘</button>
                <button type="button" class="btn btn-default btn-xs" id="btnTomD">내일</button>
            </div>
        </div>
        <div class="dash-cal-con" id="dash-cal-contents"></div>
    </div>
</html>