<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div
        th:fragment="modalPaper0"
        class="modal fade"
        id="modalPaper0"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="modalPaper0Label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">운행 관련 서류 생성</h3>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="paperCtm" value="">
                    <input type="hidden" id="paperDay" value="">
                    <div class="paper0">
                        <div class="paper0-item">
                            <blockquote>
                                <p id="paperTitle"></p>
                            </blockquote>
                        </div>
                        <div class="mdMakePaper">
                            <div class="mdMakePaper-item card">
                                <button class="btn btn-outline-primary" id="btnContPaper">
                                    <i class="fa-solid fa-file-signature"></i>계약서
                                </button>
                            </div>
                            <div class="mdMakePaper-item card">
                                <button class="btn btn-outline-primary" id="btnAlloPaper">
                                    <i class="fa-solid fa-file-invoice"></i>배차서류
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫 기</button>
                </div>
            </div>
        </div>
    </div>
    <div
        th:fragment="modalPaper1"
        class="modal fade"
        id="modalPaper1"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="modalPaper1Label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">계약서 생성</h3>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
    <div
        th:fragment="modalPaper2"
        class="modal fade"
        id="modalPaper2"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="modalPaper2Label"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">운행 배차 서류 생성</h3>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</html>