#yearMonth {
    font-size: 1.5rem;
    flex: 1;
    width: 14rem;
}

#fnDownMonth {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex: 1;
}

#fnUpMonth {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex: 1;
}

#bigDay {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#cal1 {
    font-size: 1.5rem;
}

.dashImg {
    height: 100%;
    object-fit: contain;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.header {
    background: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    z-index: 1005;
}

.header .logo {
    width: 30rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Bae";
    color: var(--sub-color);
}
.header .logo span {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.header .hd-search {
    flex: 1;
    margin-left: 3rem;
    margin-right: 3rem;
    background: white;
    opacity: 0.5;

    border-radius: 5rem;
}

.header .hd-search input {
    width: 100%;
    background: #fff;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
}

.header .hd-search .hd-search-icon {
    padding-left: 2rem;
    font-size: 1.5rem;
}

.he-serach-group :first-child {
    display: flex;
    align-items: center;
}

.header .hd-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2.3rem;
}

.header .hd-icon div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 0.3rem;
}

.header .hd-icon div div {
    display: none;
}

.header .hd-icon div:hover {
    color: var(--sub-color);
}

.header .hd-user {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 30rem;
    height: 100%;
    color: var(--sub-color);
}

#menu-btn {
    display: none;
}

.header .deail-form {
    position: absolute;
    top: 115%;
    right: 3rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.1s linear;
}

.header .deail-form.active {
    transform: scaleY(1);
    transition: 0.1s linear;
}

.header .deail-form label:hover {
    color: var(--main-color);
}
.deail-form-item {
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: var(--color-datk);
}
.deail-form-item a {
    color: var(--color-datk);
}
.deail-form-item:hover {
    background: var(--main-color);
    color: white;
    cursor: pointer;
}
.deail-form-item:hover a,
.deail-form-item:hover svg {
    color: white;
}

.aside {
    background: #f6f7f9;
    border-right: 1px solid rgba(20,20,31,.05);
    width: 30rem;

    position: fixed;
    top: 5rem;
    bottom: 0;
    left: 0;
    z-index: 1005;
}

.ad-cal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 1rem 2rem;
    height: 100%;
}

.ad-cal-items {
    padding: 1rem;
}

.ad-cal hr {
    border: 0;
    width: 100%;
    height: 0.1rem;
    background: rgb(20 20 31 / 0%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ad-cal-items-1 {
    height: 28rem;
    width: 100%;
}

.ad-cal-items-2 blockquote {
    font-size: 1.8rem;
}

.ad-cal-items-3 blockquote {
    font-size: 1.4rem;
}

.ad-cal-items-4 blockquote {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 1.4rem;
}

.ad-cal-cals {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

blockquote {
    margin: 0;
}

.comp {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comp-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ad-cal-items-3 {}

.main {
    background: #f6f7f9;
    padding-top: 5rem;
    padding-left: 30rem;
    min-height: calc(100vh - 0rem);
}

.dd-main-header {
    width: 100%;
    height: 6rem;
    background: #e6e8ed;
    padding: 2rem;
}

.dd-main-nav {
    z-index: 1004;
    position: fixed;
    left: 30rem;
    right: 0;
}

.tab-cont {
    padding-top: 5rem;
}

#detail-user {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.detail-user-1,
.detail-user-2,
.detail-user-3 {
    display: block;
}

.detail-user-1 svg {
    background: var(--sub-color);
    color: var(--main-color);

    padding: 0.8rem;
    border-radius: 100%;
    font-size: 1.5rem;
}

#comp-name {
    font-size: 1.8rem;
    font-weight: 600;
}

#comp-ceo {
    margin-left: 1rem;
}

@media (max-width:1024px) {
    .aside {
        display: none;
    }

    .main {
        padding-left: 0;
    }

    .dd-main-nav {
        left: 0;
    }

    .tab-cont {
        padding-top: 10rem;
    }

    .header .logo {
        width: 20rem;
    }

    .detail-user-2 {
        display: none;
    }

    .header .hd-user {
        width: 20rem;
    }
}

@media (max-width:768px) {

    .header .hd-icon {
        display: none;
    }

    .header .hd-icon div {
        font-size: 6rem;
        width: 10rem;
        margin: 0 5rem;
        /* background: red; */
    }

    .header .hd-icon div div {
        display: block;
        font-size: 1.5rem;
        text-align: center;
        /* background: red; */
    }

    .header .hd-search {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .header .icons {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 2rem;
    }

    .aside {
        display: none;
    }

    .main {
        padding-top: 5rem;
        padding-left: 0;
        min-height: calc(100vh - 0rem);
    }

    .dd-main-nav {
        background: #f6f7f9;
        z-index: 1004;
        position: fixed;
        left: 0;
        right: 0;

        display: flex;
        flex-direction: column;
    }

    .tab-phone {
        margin-top: 6rem;
    }

    .tab-cont {
        padding-top: 13rem;
    }

    .header .logo {
        width: 0;
    }

    .detail-user-2,
    .detail-user-3 {
        display: none;
    }

    .header .hd-user {
        width: 8rem;
    }

    .header .deail-form {
        right: 1rem;
    }
}
