.nomal-main {
    background: #f6f7f9;
    padding-left: 50rem;
    min-height: calc(100vh - 0rem);
}

.nomal-aside {
    background: #f6f7f9;
    border-right: 1px solid rgba(20,20,31,.05);
    width: 50rem;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: overlay;
}

.nomal-aside::-webkit-scrollbar {
    width: 3px;
}

.nomal-aside::-webkit-scrollbar-thumb {
    background-color: hsla(0, 21%, 11%, 0.1);
    border-radius: 100px;
}

.nomal-aside-main {
    display: flex;
    flex-direction: column;
}

.nomal-aside-btn {
    display: flex;
}

.nomal-aside-btn-item:nth-child(1) {
    flex: 1;
    padding: 1rem;
}
.nomal-aside-btn-item:nth-child(2) {
    flex: 1;
    padding: 1rem;
}

.nomal-aside-btn button {
    width: 100%;
}

.nomal-aside-search {
    padding: 2rem;
    z-index: 1050;
}

.hd-search {
    flex: 1;

    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #c6c9d5;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: inset 0 1px 0 0 rgb(34 34 48 / 5%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.hd-search .hd-search-icon {
    padding-left: 2rem;
    font-size: 1.5rem;
}

.hd-search input {
    width: 100%;
    background: transparent;
    height: 3rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 2rem;
    border: none;
}

.hd-search input:focus {
    outline: none;
}

.hd-serach-group {
    display: flex;
}

.hd-serach-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 0;
    height: 29px;
}

.hd-serach-group :first-child {
    display: flex;
    align-items: center;
}

.hd-name {
    padding: 1rem;
}
