<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.garam.web.dashboard.mapper.DashboardMapper">

	<sql id="customerColumns">
		ctmseq , ctmno , ctmsepa , ctmname , ctmaddress , ctmtel1,
		ctmtel2, ctmemail
		, ctmfax , ctmcompanum, ctmhomepage , ctmstp ,
		ctmdetail ,
		ctmtrash
	</sql>
	<sql id="rsvtColumns">
		rsvtseq, rsvt, ctmno, datein, datech, empin, stday,
		endday,
		bus, num, desty, rsvpstp, stt, endt, rsvtdetail, cont, conm, numm,
		confirm,
		confirmm, rsvttrash
	</sql>
	<sql id="operColumns">
		opernum, rsvt, operday, dayst, operno, opercom, opercar,
		operid,
		atlm, opertype, operconfirm, opertrash
	</sql>

	<select id="selectCustomerAll"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT

		*

		FROM customer

		<where>
			<if test="ctmname != null">OR ctmname Like CONCAT('%',#{ctmname},'%')
			</if>
			<if test="ctmname != null">OR ctmtel1 Like CONCAT('%',#{ctmname},'%')
			</if>
			<if test="ctmname != null">OR ctmtel2 Like CONCAT('%',#{ctmname},'%')
			</if>
			AND ctmtrash = 1
		</where>
	</select>

	<select id="selectCustomerName"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT

		*

		FROM customer

		WHERE

		ctmno = #{ctmno}
		AND
		ctmtrash = 1;

	</select>

	<select id="selectCustomerCheck"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT

		*

		FROM customer

		WHERE

		ctmtel1 Like
		CONCAT('%',#{ctmtel1},'%')

	</select>



	<select id="selectCustomerOtherCompa"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT

		*

		FROM customer

		WHERE

		ctmsepa = 2

		AND

		ctmtrash = 1;
	</select>

	<insert id="insertCtm"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">
		INSERT INTO
		customer
		(
		<include refid="customerColumns" />
		)
		VALUES
		(
		null
		, #{ctmno}
		, #{ctmsepa}
		, #{ctmname}
		, #{ctmaddress}
		,
		#{ctmtel1}
		, #{ctmtel2}
		, #{ctmemail}
		, #{ctmfax}
		, #{ctmcompanum}
		,
		#{ctmhomepage}
		,
		#{ctmstp}
		,
		#{ctmdetail}
		, 1
		);
	</insert>

	<insert id="insertRsvt"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">

		INSERT INTO
		rsvt
		(
		<include refid="rsvtColumns" />
		)
		VALUES
		(
		null
		, #{rsvt}
		, #{ctmno}
		, now()
		, null
		, #{empin}
		, #{stday}
		,
		#{endday}
		, #{bus}
		, #{num}
		, #{desty}
		, #{rsvpstp}
		,
		#{stt}
		, #{endt}
		,
		#{rsvtdetail}
		,
		#{cont}
		, #{conm}
		, #{numm}
		, #{confirm}
		, null
		, 1
		);
	</insert>

	<insert id="insertManyRsvt" parameterType="java.util.HashMap">

		INSERT INTO rsvt
		(
		<include refid="rsvtColumns" />
		)

		VALUES
		<foreach collection="rsvt" item="value" separator=",">
			(
			null,
			#{value.rsvt},
			#{value.ctmno},
			NOW(),
			null,
			#{value.empin},
			#{value.stday},
			#{value.endday},
			#{value.bus},
			#{value.num},
			#{value.desty},
			#{value.rsvpstp},
			#{value.stt},
			#{value.endt},
			#{value.rsvtdetail},
			#{value.cont},
			#{value.conm},
			#{value.numm},
			null,
			null,
			1
			)
		</foreach>
	</insert>

	<insert id="insertOper" parameterType="java.util.HashMap">

		INSERT INTO operation_info
		(
		<include refid="operColumns" />
		)
		VALUES
		<foreach collection="oper" item="value" separator=",">
			(
			#{value.opernum},
			#{value.rsvt},
			#{value.operday},
			#{value.dayst},
			#{value.operno},
			#{value.opercom},
			#{value.opercar},
			#{value.operid},
			#{value.atlm},
			#{value.opertype},
			null,
			1
			)
		</foreach>

	</insert>

	<update id="updateRsvt"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">
		DELETE FROM

		operation_info

		WHERE

		rsvt =
		#{rsvt};

		UPDATE

		rsvt SET

		<if test="ctmno != null and ctmno != '' ">
			rsvt.ctmno =
			#{ctmno},
		</if>
		<if test="stday != null and stday != '' ">
			rsvt.stday =
			#{stday},
		</if>
		<if test="endday != null and endday != '' ">
			rsvt.endday = #{endday},
		</if>
		<if test="bus != null and bus != '' ">
			rsvt.bus = #{bus},
		</if>
		<if test="num != null and num != '' ">
			rsvt.num = #{num},
		</if>
		<if test="desty != null and desty != '' ">
			rsvt.desty = #{desty},
		</if>
		<if test="rsvpstp != null and rsvpstp != '' ">
			rsvt.rsvpstp = #{rsvpstp},
		</if>
		<if test="stt != null and stt != '' ">
			rsvt.stt = #{stt},
		</if>
		<if test="endt != null and endt != '' ">
			rsvt.endt = #{endt},
		</if>
		<if test="rsvtdetail != null and rsvtdetail != '' ">
			rsvt.rsvtdetail = #{rsvtdetail},
		</if>
		<if test="cont != null and cont != '' ">
			rsvt.cont =
			#{cont},
		</if>
		<if test="conm != null and conm != '' ">
			rsvt.conm =
			#{conm},
		</if>
		<if test="numm != null and numm != '' ">
			rsvt.numm = #{numm},
		</if>
		rsvt.datech = NOW()

		WHERE

		rsvt.rsvt =
		#{rsvt};
	</update>

	<update id="updateOper" parameterType="java.util.HashMap">
		<foreach collection="oper" item="value" index="index"
			separator=";">
			UPDATE

			operation_info

			SET

			dayst =
			#{value.dayst},
			opercom =
			#{value.opercom},
			opercar =
			#{value.opercar},
			operid =
			#{value.operid},
			atlm = #{value.atlm}

			WHERE

			operday =
			#{value.operday}

			AND

			opernum =
			#{value.opernum}

			AND

			operno =
			#{value.operno}

			AND

			opertype =
			#{value.opertype}
		</foreach>
	</update>

	<update id="updateCtm"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">

		UPDATE

		customer

		SET

		<if test="ctmaddress != null and ctmaddress != '' ">
			ctmaddress =
			#{ctmaddress},
		</if>
		<if test="ctmtel1 != null and ctmtel1 != '' ">
			ctmtel1 =
			#{ctmtel1},
		</if>
		<if test="ctmtel2 != null and ctmtel2 != '' ">
			ctmtel2 =
			#{ctmtel2},
		</if>
		<if test="ctmemail != null and ctmemail != '' ">
			ctmemail =
			#{ctmemail},
		</if>
		<if test="ctmfax != null and ctmfax != '' ">
			ctmfax =
			#{ctmfax},
		</if>
		<if test="ctmcompanum != null and ctmcompanum != '' ">
			ctmcompanum =
			#{ctmcompanum},
		</if>
		<if test="ctmhomepage != null and ctmhomepage != '' ">
			ctmhomepage =
			#{ctmhomepage},
		</if>
		<if test="ctmstp != null and ctmstp != '' ">
			ctmstp =
			#{ctmstp},
		</if>
		<if test="ctmdetail != null and ctmdetail != '' ">
			ctmdetail =
			#{ctmdetail},
		</if>
		ctmtrash = 1

		WHERE

		ctmno =
		#{ctmno};
	</update>

	<delete id="delRsvt"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">

		DELETE FROM

		operation_info

		WHERE

		rsvt =
		#{rsvt};

		DELETE FROM

		rsvt

		WHERE

		rsvt.rsvt =
		#{rsvt};

	</delete>

	<update id="cancleRsvt"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO">

		DELETE FROM

		operation_info

		WHERE

		rsvt =
		#{rsvt};

		UPDATE

		rsvt

		SET

		rsvt.rsvttrash = 0,
		rsvt.datech=NOW()

		WHERE

		rsvt.rsvt =
		#{rsvt};

	</update>

	<select id="selectRSVT"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">

		SELECT

		*

		FROM

		rsvt

		WHERE

		rsvt.rsvt = #{rsvt};

	</select>


	<select id="selectAlloCTM"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT
		rsvt.rsvt,
		customer.ctmseq, customer.ctmsepa,
		customer.ctmname,
		customer.ctmaddress, customer.ctmtel1,
		customer.ctmtel2,
		customer.ctmfax, customer.ctmhomepage,
		customer.ctmstp,
		customer.ctmdetail,
		customer.ctmtrash

		FROM rsvt

		LEFT JOIN
		customer on
		rsvt.ctmno = customer.ctmno

		WHERE

		(rsvt.stday <![CDATA[<=]]>
		#{stday})

		AND

		(rsvt.endday <![CDATA[>=]]>
		#{endday})

		AND

		rsvt.rsvttrash = #{rsvttrash}

		GROUP BY
		customer.ctmseq

		ORDER BY
		customer.ctmseq,
		customer.ctmsepa,
		customer.ctmname;
	</select>
	<select id="selectAlloRSVT"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT
		*

		FROM
		rsvt

		left join customer on rsvt.ctmno =
		customer.ctmno

		WHERE

		(rsvt.stday <![CDATA[<=]]>
		#{stday})

		AND

		(rsvt.endday <![CDATA[>=]]>
		#{endday})

		AND

		rsvt.rsvttrash = #{rsvttrash}

		ORDER BY
		customer.ctmseq,
		customer.ctmsepa,
		customer.ctmname;
	</select>
	<select id="selectAlloOPER"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">

		SELECT
		rsvt.rsvtseq, operation_info.operseq, operation_info.opernum,
		operation_info.rsvt,
		operation_info.operday, operation_info.operno,
		operation_info.opercom,
		rsvt.numm, operation_info.atlm,
		operation_info.opertype,
		operation_info.operconfirm,
		operation_info.operid,
		operation_info.opercar,
		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE employeeinfo.id =
		operation_info.operid),
		operation_info.operid) AS name,
		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE vehicleinfo.carnumber
		=
		operation_info.opercar),
		operation_info.opercar) AS
		vehicle,
		operation_info.opertrash

		FROM
		operation_info
		left join rsvt on
		operation_info.rsvt =
		rsvt.rsvt

		WHERE
		operation_info.rsvt IN

		(SELECT
		rsvt.rsvt FROM rsvt left
		join customer
		on
		rsvt.ctmno =
		customer.ctmno
		WHERE ((rsvt.stday <![CDATA[<=]]>
		#{stday})
		AND
		(rsvt.endday <![CDATA[>=]]>
		#{endday})) AND operation_info.operday = #{stday}
		ORDER BY
		rsvt.ctmno)

		ORDER BY
		operation_info.rsvt;
	</select>

	<select id="selectWeekBusNum"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">
		SELECT

		bus, num, rsvttrash

		FROM
		rsvt

		WHERE

		(rsvt.stday <![CDATA[<=]]>
		#{stday})

		AND

		(rsvt.endday <![CDATA[>=]]>
		#{endday})

		AND

		rsvt.rsvttrash = #{rsvttrash};

	</select>
	<select id="selectOneWayOper"
		parameterType="com.garam.web.dashboard.dto.RsvtDTO"
		resultType="com.garam.web.dashboard.dto.RsvtDTO">

		SELECT

		operseq, opernum, rsvt, operday, operno, opercom,
		opercar, operid, atlm, opertype, operconfirm, opertrash,
		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		operation_info.opercar),
		operation_info.opercar)
		AS
		vehicle, IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo WHERE
		employeeinfo.id =
		operation_info.operid),
		operation_info.operid) AS
		name,
		operation_info.opertrash

		FROM

		operation_info

		WHERE

		operday =
		#{operday}

		AND

		opernum =
		#{opernum}

		ORDER
		BY

		opertype;

	</select>

	<delete id="delAllo" parameterType="java.util.HashMap">
		<foreach collection="allodel" item="value" index="index"
			separator=";">
			DELETE FROM

			operation_info

			WHERE

			operday =
			#{value.operday}

			AND

			opernum =
			#{value.opernum}

			AND

			operno =
			#{value.operno}

			AND

			opertype =
			#{value.opertype}
		</foreach>
	</delete>

	<select id="selectOpt"
		resultType="com.garam.web.dashboard.dto.OptDTO">
		SELECT
		*
		FROM
		opt;
	</select>

	<select id="selectReg"
		parameterType="com.garam.web.dashboard.dto.RegularOperDTO"
		resultType="com.garam.web.dashboard.dto.RegularOperDTO">

		SELECT

		*

		FROM

		regular

		WHERE

		regular.regtrash = 1

	</select>
	<select id="selectRegDe"
		parameterType="com.garam.web.dashboard.dto.RegularOperDTO"
		resultType="com.garam.web.dashboard.dto.RegularOperDTO">

		SELECT

		*

		FROM

		regulardetail

		LEFT JOIN

		regular

		ON

		regular.conum =
		regulardetail.conum

		WHERE

		regular.regtrash = 1

		AND

		regulardetail.rdtrash =
		1

	</select>
	<select id="selectRegCoo"
		parameterType="com.garam.web.dashboard.dto.RegularOperDTO"
		resultType="com.garam.web.dashboard.dto.RegularOperDTO">

		SELECT

		*

		FROM

		regularcourse

		LEFT JOIN

		regulardetail

		ON

		regulardetail.codenum =
		regularcourse.codenum

		WHERE

		regulardetail.rdtrash = 1

		AND

		regularcourse.rctrash = 1

		GROUP BY

		regularcourse.goutnum, regularcourse.codenum

		ORDER BY

		regularcourse.codenum, regularcourse.goutnum

	</select>
</mapper>