.onestt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 44rem;

    padding: 2rem 0;
}

#chartVeAllPerDiv1 {}

#chartVeAllPerDiv2,
#chartVeAllYearPerDiv {
    padding: 2rem;
}

#chartVeAllPerDiv1 canvas {
    width: 106px;
    height: 106px;
}

.onestt-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    width: 100%;
    padding: 0 5rem;
}

.onestt-item div {
    flex: 1;

    font-size: 1.5rem;
    font-weight: 600;
    color: rgba(77, 89, 105,1);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.onewttt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.onewttt div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    padding-left: 1rem;
}

.onewttt div span {
    flex: 1;
}

.tPerOne {
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.tPerOneCol1 {
    background-color: #68A7AD;
}

.tPerOneCol2 {
    background-color: #99C4C8;
}

.tPerOneCol3 {
    background-color: #E5CB9F;
}

.tPerOneCol4 {
    background-color: #EEE4AB;
}

.tPerOneCol5 {
    background-color: #EEEEEE;
}
