<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="main-body">
        <h1>승무원님 안녕하세용</h1>
        <script th:inline="javascript">
            /*<![CDATA[*/
            const opt =/*[[${opt}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbCompa =/*[[${compa}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbVe =/*[[${ve}]]*/
            'default';
            /*]]>*/
            /*<![CDATA[*/
            const dbEmp =/*[[${emp}]]*/
            'default';
            /*]]>*/
        </script>

        <script
            language="javascript"
            type="text/javascript"
            src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/boot/bootstrap.bundle.js"></script>
        <script language="javascript" type="text/javascript" src="/js/boot/all.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/summernote-lite.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/summernote-ko-KR.js"></script>
        <script
            language="javascript"
            type="text/javascript"
            src="/js/common/common.js?v=2020041101"></script>
    </body>
</html>