<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.employee.mapper.EmployeeMapper">

	<sql id="empMoneyColumns">
		no, sday, id, separation, date, contents, money, strash
	</sql>

	<select id="selectOperMoney"
		parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">
		SELECT

		DISTINCT(operation_info.opernum),

		operation_info.atlm
		FROM operation_info

		WHERE

		operation_info.operid =
		#{operid}

		AND

		operation_info.operconfirm = #{operconfirm}

		AND

		operation_info.opertrash != #{opertrash}
	</select>

	<select id="SelectEmpBaseMoney"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		baseM, kukM, gunM, goM, sanM

		FROM

		employeeinfo

		WHERE

		employeeinfo.id = #{id}
	</select>

	<update id="empUpOper"
		parameterType="com.garam.web.employee.dto.EmpRsvtDTO">

		UPDATE

		operation_info

		SET

		operconfirm = #{operconfirm},
		opertrash = #{opertrash}

		WHERE

		opernum = #{opernum}

		AND

		operno = #{operno}

		AND

		opertype = #{opertype}

		AND

		operid = #{operid}

		AND

		opercar
		= #{opercar}
	</update>
	<update id="empUpOper2"
		parameterType="com.garam.web.employee.dto.EmpRsvtDTO">

		UPDATE

		operation_info

		SET

		opertrash = 0

		WHERE

		operconfirm =
		#{operconfirm}

		AND

		operid = #{operid}

	</update>

	<select id="selInMoney"
		parameterType="com.garam.web.employee.dto.Empsalary"
		resultType="com.garam.web.employee.dto.Empsalary">

		SELECT

		*

		FROM

		personnalplus

		WHERE

		personnalplus.id = #{id}

		AND

		personnalplus.sday = #{sday}
	</select>
	<select id="selOutMoney"
		parameterType="com.garam.web.employee.dto.Empsalary"
		resultType="com.garam.web.employee.dto.Empsalary">

		SELECT

		*

		FROM

		personnalminus

		WHERE

		personnalminus.id = #{id}

		AND

		personnalminus.sday = #{sday}
	</select>

	<delete id="delInM"
		parameterType="com.garam.web.employee.dto.Empsalary">
		DELETE FROM

		personnalplus

		WHERE

		personnalplus.id = #{id}

		AND

		personnalplus.sday = #{sday};
	</delete>
	<delete id="delOutM"
		parameterType="com.garam.web.employee.dto.Empsalary">
		DELETE FROM

		personnalminus

		WHERE

		personnalminus.id =
		#{id}

		AND

		personnalminus.sday = #{sday};
	</delete>

	<insert id="insertInM" parameterType="java.util.HashMap">
		INSERT

		INTO

		personnalplus
		(
		<include refid="empMoneyColumns" />
		)
		VALUES

		<foreach collection="imM" item="value" separator=",">
			(
			null,
			#{value.sday},
			#{value.id},
			#{value.separation},
			#{value.date},
			#{value.contents},
			#{value.money},
			#{value.strash}
			)
		</foreach>
	</insert>
	<insert id="insertOutM" parameterType="java.util.HashMap">
		INSERT

		INTO

		personnalminus
		(
		<include refid="empMoneyColumns" />
		)
		VALUES

		<foreach collection="outM" item="value" separator=",">
			(
			null,
			#{value.sday},
			#{value.id},
			#{value.separation},
			#{value.date},
			#{value.contents},
			#{value.money},
			#{value.strash}
			)
		</foreach>
	</insert>

	<select id="selAllMoney"
		parameterType="com.garam.web.employee.dto.EmpsalaryAll"
		resultType="com.garam.web.employee.dto.EmpsalaryAll">

		SELECT

		*

		FROM

		personnalsalary

		WHERE

		personnalsalary.id = #{id}

		AND

		personnalsalary.date = #{date}
	</select>
	<insert id="insertAllMoney"
		parameterType="com.garam.web.employee.dto.EmpsalaryAll">

		INSERT INTO

		personnalsalary

		(salno,
		id,
		date,
		per,
		opercnt,
		opermoney,
		inm,
		outm,
		empin,
		datein,
		strash)

		VALUES

		(null,
		#{id},
		#{date},
		#{per},
		#{opercnt},
		#{opermoney},
		#{inm},
		#{outm},
		#{empin},
		NOW(),
		1);
	</insert>
</mapper>