<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.employee.mapper.EmployeeMapper">

	<sql id="empColumns">
		employeeinfo.id, employeeinfo.company, employeeinfo.kind,
		employeeinfo.joind, employeeinfo.endD, employeeinfo.name,
		employeeinfo.gender, employeeinfo.birthday, employeeinfo.phone1,
		employeeinfo.phone2,
		employeeinfo.address, employeeinfo.garage,
		employeeinfo.bosuM,
		employeeinfo.bobuJ, employeeinfo.drvL,
		employeeinfo.busL, employeeinfo.memo, employeeinfo.bank,
		employeeinfo.gye,
		employeeinfo.gyename,
		employeeinfo.baseM,
		employeeinfo.kukM,
		employeeinfo.gunM, employeeinfo.goM,
		employeeinfo.sanM, employeeinfo.img, employeeinfo.trash,
		vehicleinfo.carnumber,
		vehicleinfo.vehicle
	</sql>

	<insert id="insertEmp"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO">
		INSERT INTO

		employeeinfo

		(id,
		company,
		kind,
		joind,
		endD,
		name,
		gender,
		birthday,
		phone1,
		phone2,
		address,
		garage,
		bosuM,
		bobuJ,
		drvL,
		busL,
		memo,
		bank,
		gye,
		gyename,
		baseM,
		kukM,
		gunM,
		goM,
		sanM,
		img,
		trash)

		VALUES

		(
		#{id},
		#{company},
		#{kind},
		#{joind},
		#{endd},
		#{name},
		#{gender},
		#{birthday},
		#{phone1},
		#{phone2},
		#{address},
		#{garage},
		#{bosum},
		#{bobuj},
		#{drvl},
		#{busl},
		#{memo},
		#{bank},
		#{gye},
		#{gyename},
		#{basem},
		#{kukm},
		#{gunm},
		#{gom},
		#{sanm},
		#{img},
		1
		);
	</insert>

	<update id="updateEmp"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO">

		UPDATE

		employeeinfo

		SET

		company = #{company},
		kind =
		#{kind},
		joind =
		#{joind},
		endD = #{endd},
		name = #{name},
		gender =
		#{gender},
		birthday =
		#{birthday},
		phone1 =
		#{phone1},
		phone2 = #{phone2},
		address = #{address},
		garage = #{garage},
		bosuM = #{bosum},
		bobuJ =
		#{bobuj},
		drvL = #{drvl},
		busL = #{busl},
		memo = #{memo},
		bank = #{bank},
		gye = #{gye},
		gyename =
		#{gyename},
		baseM = #{basem},
		kukM = #{kukm},
		gunM = #{gunm},
		goM =
		#{gom},
		sanM = #{sanm},
		<if test="img != null and img != '' ">img = #{img},</if>
		trash = #{trash}

		WHERE

		id = #{id};
	</update>

	<update id="deleteEmp"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO">

		UPDATE

		employeeinfo

		SET

		endD = #{endd},
		trash = 0

		WHERE

		id =
		#{id};
	</update>

	<select id="selectEmpAll"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		employeeinfo.id, employeeinfo.name, employeeinfo.birthday,
		employeeinfo.kind, employeeinfo.trash,
		vehicleinfo.vehicle,
		vehicleinfo.bus

		FROM
		employeeinfo

		LEFT JOIN
		vehicleinfo

		ON
		employeeinfo.id =
		vehicleinfo.id

		<where>
			<if test="name != null">OR employeeinfo.name Like CONCAT('%',#{name},'%') </if>
			<if test="name != null">OR vehicleinfo.vehicle Like CONCAT('%',#{name},'%') </if>
		</where>

		ORDER BY name;

	</select>

	<select id="selectEmpNameList"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		*

		FROM
		employeeinfo

		ORDER BY name;
	</select>

	<select id="selectEmpName"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		<include refid="empColumns" />

		FROM employeeinfo

		LEFT JOIN vehicleinfo

		ON employeeinfo.id =
		vehicleinfo.id

		WHERE employeeinfo.name = #{name}

		ORDER BY name;

	</select>

	<select id="selectEmpDetail"
		parameterType="com.garam.web.employee.dto.EmployeeInfoDTO"
		resultType="com.garam.web.employee.dto.EmployeeInfoDTO">

		SELECT

		<include refid="empColumns" />

		FROM employeeinfo

		LEFT JOIN vehicleinfo

		ON employeeinfo.id =
		vehicleinfo.id

		WHERE employeeinfo.id = #{id}

		ORDER BY name;
	</select>

	<select id="selectEmpOperList"
		parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">

		SELECT
		rsvt.rsvtseq, rsvt.desty, rsvt.stday, rsvt.endday,
		operation_info.operseq,
		operation_info.opernum,
		operation_info.rsvt,
		operation_info.operday,
		operation_info.operno,
		rsvt.numm,
		operation_info.atlm,
		operation_info.opertype,
		operation_info.operid,
		operation_info.opercar,
		IFNULL((SELECT
		vehicleinfo.vehicle FROM
		vehicleinfo WHERE
		vehicleinfo.carnumber
		=
		operation_info.opercar),
		operation_info.opercar)
		AS
		vehicle,
		(SELECT
		customer.ctmname FROM
		customer
		WHERE
		customer.ctmno
		=
		rsvt.ctmno)
		AS
		ctmname,
		operation_info.opertrash

		FROM

		operation_info
		left
		join rsvt on
		operation_info.rsvt =
		rsvt.rsvt

		WHERE

		(operation_info.operday BETWEEN
		#{stday} AND #{endday})

		AND

		operation_info.operid = #{operid}

		AND

		operation_info.dayst =
		1

		AND

		operation_info.opertrash =
		#{opertrash}

		ORDER BY
		rsvt.stday,
		operation_info.opernum,
		operation_info.operday,
		rsvt.stt;

	</select>

	<select id="selectEmpOperListCnt"
		parameterType="com.garam.web.employee.dto.EmpRsvtDTO"
		resultType="com.garam.web.employee.dto.EmpRsvtDTO">

		SELECT

		operation_info.opernum, COUNT(*) AS cnt

		FROM

		operation_info
		left
		join rsvt on
		operation_info.rsvt =
		rsvt.rsvt

		WHERE

		operation_info.opernum IN
		(SELECT

		operation_info.opernum

		FROM

		operation_info

		WHERE

		(operation_info.operday
		BETWEEN
		#{stday} AND
		#{endday})

		AND

		operation_info.operid = #{operid}

		AND

		operation_info.opertrash =
		#{opertrash}

		GROUP BY operation_info.opernum)

		AND

		operation_info.operid = #{operid}

		GROUP
		BY
		operation_info.opernum

		ORDER BY
		rsvt.stday,
		operation_info.opernum,
		operation_info.operday,
		rsvt.stt;

	</select>

</mapper>