<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garam.web.vehicle.mapper.VehicleMapper">

	<sql id="veColumns">
		vehicleinfo.carnumber, vehicleinfo.vehicle,
		vehicleinfo.company,
		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo
		WHERE
		employeeinfo.id=vehicleinfo.owner),
		vehicleinfo.owner) AS owner,
		vehicleinfo.id, vehicleinfo.bus,
		vehicleinfo.brand,
		vehicleinfo.vename, vehicleinfo.grade, vehicleinfo.fuel,
		vehicleinfo.num,
		vehicleinfo.color,
		vehicleinfo.carn,
		vehicleinfo.regist, vehicleinfo.expire,
		vehicleinfo.price,
		vehicleinfo.special, vehicleinfo.img1,
		vehicleinfo.img2,
		vehicleinfo.img3, vehicleinfo.regd, vehicleinfo.reg,
		vehicleinfo.insud,
		vehicleinfo.insu,
		vehicleinfo.jukd, vehicleinfo.juk,
		vehicleinfo.trash,
		employeeinfo.name,
		employeeinfo.phone1,
		employeeinfo.phone2
	</sql>

	<insert id="insertVe" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		INSERT

		INTO

		vehicleinfo

		VALUES
		(
		#{carnumber},
		#{vehicle},
		#{company},
		#{owner},
		#{id},
		#{bus},
		#{brand},
		#{vename},
		#{grade},
		#{fuel},
		#{num},
		#{color},
		#{carn},
		#{regist},
		#{expire},
		#{price},
		#{inday},
		null,
		#{special},
		#{img1},
		#{img2},
		#{img3},
		null,
		null,
		null,
		null,
		null,
		null,
		1
		);

	</insert>

	<update id="updateVe" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO">
		UPDATE

		vehicleinfo

		SET

		vehicle = #{vehicle},
		company = #{company},
		owner =
		#{owner},
		id = #{id},
		bus = #{bus},
		brand =
		#{brand},
		vename = #{vename},
		grade = #{grade},
		fuel = #{fuel},
		num = #{num},
		color = #{color},
		carn =
		#{carn},
		regist =
		#{regist},
		expire = #{expire},
		inday = #{inday},
		outday
		= #{outday},
		price = #{price},

		<if test="img1 != null and img1 != '' ">
			img1 = #{img1},
		</if>
		<if test="img2 != null and img2 != '' ">
			img2 = #{img2},
		</if>
		<if test="img3 != null and img3 != '' ">
			img3 = #{img3},
		</if>
		special = #{special},
		trash = #{trash}

		WHERE

		carnumber = #{carnumber};
	</update>

	<update id="updateVePDF" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		UPDATE vehicleinfo SET

		<if test="regd != null and regd != '' ">
			regd = #{regd},
		</if>
		<if test="reg != null and reg != '' ">
			reg = #{reg},
		</if>

		<if test="insud != null and insud != '' ">
			insud = #{insud},
		</if>
		<if test="insu != null and insu != '' ">
			insu = #{insu},
		</if>

		<if test="jukd != null and jukd != '' ">
			jukd = #{jukd},
		</if>
		<if test="juk != null and juk != '' ">
			juk = #{juk},
		</if>
		trash = 1

		WHERE carnumber = #{carnumber};

	</update>

	<update id="deleteVe" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		UPDATE vehicleinfo

		SET trash = 0

		WHERE

		carnumber =
		#{carnumber};

	</update>

	<select id="selectVeAll" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT vehicleinfo.carnumber, vehicleinfo.vehicle, vehicleinfo.num,
		vehicleinfo.company,
		IFNULL((SELECT
		employeeinfo.name FROM employeeinfo
		WHERE
		employeeinfo.id=vehicleinfo.owner), vehicleinfo.owner) AS owner,
		vehicleinfo.regist, vehicleinfo.bus, vehicleinfo.grade,
		vehicleinfo.trash, employeeinfo.id,
		employeeinfo.name FROM
		vehicleinfo
		LEFT JOIN
		employeeinfo ON
		vehicleinfo.id = employeeinfo.id

		<where>
			<if test="vehicle != null">OR vehicleinfo.vehicle Like CONCAT('%',#{vehicle},'%')
			</if>
			<if test="vehicle != null">OR owner Like CONCAT('%',#{vehicle},'%')
			</if>
			<if test="vehicle != null">OR employeeinfo.name Like CONCAT('%',#{vehicle},'%')
			</if>
			<if test="vehicle != null">OR vehicleinfo.grade Like CONCAT('%',#{vehicle},'%')
			</if>
		</where>

		ORDER BY vehicleinfo.vehicle;
	</select>

	<select id="selectVeId" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT

		(SELECT name FROM employeeinfo WHERE employeeinfo.id
		= vehicleinfo.id) AS name,

		(SELECT jukday FROM
		jukfile WHERE
		jukfile.jukname
		= vehicleinfo.juk) AS jukday

		FROM
		vehicleinfo

		WHERE

		vehicleinfo.carnumber =
		#{carnumber};

	</select>

	<select id="selectVeNameList" resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT

		*

		FROM
		vehicleinfo

		ORDER BY
		vehicle;
	</select>

	<select id="selectVeAllPrint" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT
		*
		FROM
		vehicleinfo

		WHERE
		company = #{compa}
		AND
		trash = 1

		ORDER BY
		vehicle;
	</select>

	<select id="selectVeDetail" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT

		vehicleinfo.*,

		IFNULL((SELECT
		employeeinfo.name FROM
		employeeinfo
		WHERE
		employeeinfo.id=vehicleinfo.owner),
		vehicleinfo.owner) AS owner,

		(SELECT jukday FROM jukfile WHERE
		jukfile.jukname
		=
		vehicleinfo.juk)
		AS jukday,

		employeeinfo.name,
		employeeinfo.phone1,
		employeeinfo.phone2

		FROM

		vehicleinfo

		LEFT JOIN

		employeeinfo

		ON

		vehicleinfo.id =
		employeeinfo.id

		WHERE

		vehicleinfo.carnumber = #{carnumber}
	</select>

	<insert id="insertJuk" parameterType="com.garam.web.vehicle.dto.JukfileDTO">

		INSERT

		INTO

		jukfile

		VALUES

		(
		null,

		#{jukday},

		#{jukname},

		#{ve1},

		#{id1},

		#{ve2},

		#{id2},

		#{ve3},

		#{id3},

		#{ve4},

		#{id4},

		#{ve5},

		#{id5},

		1
		);
	</insert>

	<update id="updateVeJuk" parameterType="java.util.HashMap">
		<foreach collection="upjuk" item="value" index="index" separator=";">
			UPDATE

			vehicleinfo

			SET

			jukd = #{value.jukd},
			juk
			=
			#{value.juk}

			WHERE

			carnumber = #{value.carnumber}
		</foreach>
	</update>

	<select id="selectInsuCar" parameterType="com.garam.web.vehicle.dto.VehicleInfoDTO"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT

		*

		FROM

		veinsurance

		WHERE

		veinsurance.carnumber = #{carnumber}

		ORDER BY
		veinsurance.insudatestart DESC;

	</select>


	<select id="selectInsuSepaCar" parameterType="java.util.HashMap"
		resultType="com.garam.web.vehicle.dto.VehicleInfoDTO">

		SELECT

		*

		FROM

		veinsurancesepa

		WHERE

		veinsurancesepa.insuno IN
		<foreach collection="insusepanum" item="value" index="index" separator="," open="(" close=")">
			#{value.insuno}
		</foreach>

		ORDER BY
		veinsurancesepa.insusepano,
		veinsurancesepa.insusepatime
	</select>

</mapper>